/* First step */

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}


.modal-dialog{
    margin-top: 200px;
    z-index: 100000;
}

.back-to-top {
	width: 50px;
	height: 50px;
	background: #e7e7e7;
	border-bottom: 1px solid #d9d9d9;
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 10000;
	display: none;
	color: #ff5732;
	font-size: 32px;
	text-align: center;
	line-height: 32px;
}

@media only screen and (min-width: 768px) and (max-width: 1320px) {
	.back-to-top {
		display: none !important;
	}
}

#socialRank {
	padding-bottom: 50px;
}



#innerRanking{
	margin-top: -7px;
}

.post-share-box .post-rating {
	float: right;
	margin-right: 0;
}

#rankingLabel{
	width: 60px;
	margin-left: 100px;
	text-align: center;
}

.inner{
	border-radius: 5px;
}
@media only screen and (min-width: 993px) {
	.point-btn {
		float: left;
		width: 39px;
		height: 39px;
		line-height: 39px;
		vertical-align: middle;
		padding: 0;
		margin-bottom: 0;
		background-color: transparent;
		font-size: 20px;
		color: #757575;
		text-align: center;
		border-radius: 0;
		border: 0 none;
		border-right: 2px solid #ececec;
	}

	img {
		max-width: 650px;
	}
}

/* iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	img { max-width: 100%; }
}

/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	img { max-width: 100%; }
}

@media only screen and (min-width: 0px) and (max-width: 993px){
	#innerRanking{
		margin-top: 10px;
	}

	#rankingLabel{
		margin-left:auto;
		margin-right: auto;
	}

	.point-btn{
		width: 39px;
		height: 39px;
		line-height: 39px;
		vertical-align: middle;
		padding: 0;
		margin-bottom: 0;
		background-color: transparent;
		font-size: 20px;
		color: #757575;
		text-align: center;
		border-radius: 0;
		border: 0 none;
		border-right: 2px solid #ececec;
	}

}
.post-rating .point-btn i {
	display: inline-block;
}

.fa-plus{
	color: #70a91f;
}

.fa-plus:hover{
	color: #99e220;
}

.fa-minus:not(.disabled){
	color: #850006;
}



.fa-minus:hover:not(.disabled){
	color: #de0006;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}


.back-to-top:hover {
	background: #e7e7e7;
	color: #252525;
	border-bottom: 1px solid #d9d9d9;
}

.back-to-top:focus {
	color: #252525;
}

.back-to-top i {
	margin: 7px 0 0 0;
}

.post-1-navbar.affix {
	position: fixed !important;
	top: 30px !important;
}

.navbar-wrapper.affix {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	right: 0;
	z-index: 10000;
	height: 38px;
}

#particles {
	height: 100%;
	width: 100%;
	position: fixed;
}

/* Default items */

body {
	font: 13px/18px Raleway, sans-serif;
	color: #252525;
	background: #efefef;
}

body:after {
	width: 1070px;
	content: "";
	position: fixed;
	top: 0;
	right: 50%;
	margin-right: -535px;
	height: 100%;
	background: #f7f7f7;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 38px;
	line-height: 32px;
	font-weight: 900;
	margin: 0 0 20px 0;
}

h2 {
	font-size: 28px;
	line-height: 28px;
	font-weight: 900;
	margin: 0 0 20px 0;
}

h3 {
	font-size: 22px;
	line-height: 26px;
	font-weight: 900;
	margin: 0 0 20px 0 !important;
}

h4 {
	font-size: 18px;
	line-height: 22px;
	font-weight: 900;
	margin: 0 0 20px 0 !important;
}

h5 {
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
	margin: 0 0 20px 0 !important;
}

h6 {
	font-size: 12px;
	line-height: 16px;
	font-weight: 900;
	margin: 0 0 20px 0 !important;
}

blockquote {
	padding: 0 30px;
	margin: 35px 0;
	border-left: 3px solid #ff5732;
}

blockquote p {
	font-size: 22px !important;
	line-height: 32px !important;
	margin: 0 !important;
	font-weight: 100;
}

a {
	color: #252525;
}

a:hover {
	color: #ff5732;
	text-decoration: none;
}

a:focus {
	outline: none;
}

.container {
	width: 970px !important;
	position: relative;
	z-index: 10;
}

.legend-default {
	color: #999;
	font-size: 11px;
}

.legend-default a {
	color: #999;
}

.legend-default a:hover {
	color: #ff5732;
}

.legend-default i {
	margin: 0 5px 0 0;
}

.legend-default .fa-comments, .legend-default .fa-camera, .legend-default .fa-user {
	margin: 0 5px 0 8px;
}

.tag-default {
	height: 11px;
	font-size: 9px;
	line-height: 10px;
	font-weight: 900;
	color: #fff;
	background: #ff5732;
	font-style: normal;
	text-transform: uppercase;
	padding: 1px 2px 0 2px;
	display: inline-block;
	vertical-align: top;
	margin: 4px 7px 0 0;
}

.tag-default:hover {
	background: #252525;
	color: #ff5732;
	cursor: pointer;
}

.tag-1 {
	font-size: 13px;
	line-height: 13px;
	border: 1px solid #e4e4e4;
	display: inline-block;
	margin: 0 4px 3px 0;
    padding-right: 5px;
}

.tag-1.active {
	background: #ff5732;
	border: 1px solid #ff5732 !important;
	color: #252525 !important;
}

.tag-1.active:hover span {
	background: #ff5732;
	color: #252525 !important;
}

.tag-1 span {
	padding: 3px 0 3px 5px;
	float: left;
}

.tag-1 s {
	background: rgba(0, 0, 0, 0.03);
	text-decoration: none;
	float: left;
	padding: 3px;
	margin: 0 0 0 5px;
	border-left: 1px solid #e4e4e4;
	color: #999;
	font-size: 11px;
}

.more-link {
	font-size: 13px !important;
	font-weight: 900;
	text-transform: uppercase !important;
	color: #ff5732 !important;
	display: block;
}

.more-link:after {
	font-family: FontAwesome;
	content: "\f04b";
	color: #999;
	font-size: 10px;
	line-height: 10px;
	vertical-align: top;
	margin: 4px 0 0 5px;
	display: inline-block;
}

.more-link:hover:after {
	color: #ff5732;
}

.reply-link {
	font-size: 13px;
	font-weight: 900;
	text-transform: uppercase;
	color: #ff5732 !important;
	display: block;
}

.reply-link:after {
	font-family: FontAwesome;
	content: "\f112";
	color: #999;
	font-size: 10px;
	line-height: 10px;
	vertical-align: top;
	margin: 4px 0 0 5px;
	display: inline-block;
}

.reply-link:hover:after {
	color: #ff5732;
}

.show-more-link {
	font-size: 13px;
	font-weight: 900;
	text-transform: uppercase;
	color: #ff5732 !important;
	display: block;
}

.show-more-link:after {
	font-family: FontAwesome;
	content: "\f01e";
	color: #999;
	font-size: 10px;
	line-height: 10px;
	vertical-align: top;
	margin: 4px 0 0 5px;
	display: inline-block;
}

.show-more-link:hover:after {
	color: #ff5732;
}

.stars {
	padding: 0;
	text-align: center;
	width: 70px;
	background: #ff5732;
	display: inline-block;
	font-size: 11px;
	line-height: 18px !important;
	color: #fff;
	letter-spacing: -0.1px;
}

.banner-728x90 {
	text-align: center;
	margin: 0 auto 30px auto;
}

.btn-default {
	height: 50px;
	padding: 0 25px;
	background: #e7e7e7;
	border: none;
	border-bottom: none;
	border-radius: 0;
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
	font-weight: 900;
	position: relative;
	color: #ff5732;
	box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 0;
}

.btn-default:hover {
	background: #ff5732;
	color: #252525;
	border-bottom: none;
}

.button-1 {
	height: 50px;
	background: #e7e7e7;
	text-transform: uppercase;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	font-weight: 900 !important;
	padding: 0 25px;
	box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 0;
	color: #ff5732 !important;
	transition: all 0.2s;
	position: relative;
}

.button-1:hover {
	color: #252525 !important;
	background: #ff5732;
}

.button-1.color {
	color: #fff !important;
}

.button-1.color:hover {
	color: #252525 !important;
	background: #ff5732 !important;
}

.button-1.white {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 0, rgba(0, 0, 0, 0.15) 0 1px 0 inset, rgba(0, 0, 0, 0.15) 1px 0 0 inset, rgba(0, 0, 0, 0.15) 0 -1px 0 inset, rgba(0, 0, 0, 0.15) -1px 0 0 inset;
}

.button-1.white:hover {
	color: #252525 !important;
	background: #ff5732 !important;
	box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 0;
}

.button-1.icon {
	padding: 0 25px 0 17px;
}

.button-1 i:after {
	background: rgba(0, 0, 0, 0.1);
	width: 1px;
	height: 50px;
	position: absolute;
	content: "";
	top: 0;
	margin: 0 0 0 17px;
}

.button-1 i {
	margin: 0 30px 0 0;
}

.tab-shortcode .tab-content {
	display: none;
}

.tab-shortcode .tab-content:first-child {
	display: block;
}

.form-control {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.03) 0 3px 0 inset;
	border: 1px solid #e4e4e4;
	border-radius: 0;
	font: 13px/18px Raleway, sans-serif;
	color: #252525;
}

.form-control:focus {
	box-shadow: rgba(0, 0, 0, 0.03) 0 3px 0 inset;
	border: 1px solid #d9d9d9;
}

textarea.form-control {
	padding: 10px 12px;
}

.carousel-indicators li {
	background: none;
	border: 2px solid #999;
	border-radius: 9px;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin: 0 0 0 2px;
	text-indent: -999px;
	width: 10px;
}

.carousel-indicators li.active {
	background: #999;
	border: 2px solid #999;
	width: 10px;
	height: 10px;
	margin: 0 0 0 2px;
}

.carousel-control {
	bottom: auto;
	color: #ff5732 !important;
	font-size: 20px !important;
	left: 0;
	opacity: 1;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: 0;
	width: auto;
}

.carousel-control:hover {
	color: #252525 !important;
	background: #ff5732 !important;
	box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 0;
}

.carousel-control:hover i {
	color: #252525 !important;
}

.carousel-control.left, .carousel-control.right {
	background: none;
	position: absolute;
	width: 50px;
	height: 50px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 0, rgba(0, 0, 0, 0.15) 0 1px 0 inset, rgba(0, 0, 0, 0.15) 1px 0 0 inset, rgba(0, 0, 0, 0.15) 0 -1px 0 inset, rgba(0, 0, 0, 0.15) -1px 0 0 inset;
}

.carousel-control:hover, .carousel-control:active {
	color: #ff5732 !important;
}

.slider-tabs .carousel-control i {
	margin: 16px 0 0 0;
}

.carousel-control:focus {
	color: #999;
	opacity: 1;
	outline: 0;
}

.pages {
	margin: 0 0 30px 0;
	display: table;
	width: 100%;
}

.pagination {
	margin: 0;
	width: 100%;
	float: left;
}

.pagination li {
	margin: 0 10px 0 0;
	float: left;
}

.pagination a {
	border-radius: 0 !important;
	width: 50px;
	height: 50px;
	border: none !important;
	background: #e7e7e7 !important;
	border-bottom: 1px solid #d9d9d9 !important;
	font-size: 15px;
	font-weight: 900;
	color: #999 !important;
	padding: 14px 0 0 0 !important;
	text-align: center;
	display: block;
}

.pagination a:hover {
	color: #252525 !important;
}

.pagination .active a {
	color: #ff5732 !important;
}

.pagination .more a {
	width: 15px !important;
	background: none !important;
	border-bottom: none !important;
}

.pagination .next a, .pagination .previous a {
	font-size: 26px;
	padding: 7px 0 0 0 !important;
}

.pagination .next, .pagination .previous {
	float: right;
	margin: 0 0 0 10px;
}

.read-progress {
	height: 3px;
	background: #e4e4e4;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100000;
}

.read-progress span {
	background: #ff5732;
	height: 3px;
	display: inline-block;
	float: left;
}

.homepage-content .search-results s {
	color: #252525;
	background: #fff000;
	text-decoration: none;
}

.search-query-1 {
	display: table;
	margin: 0 auto;
	font-size: 20px;
	color: #999;
	padding: 40px 0 30px 0;
}

.search-query-1 div:first-child {
	float: left;
	padding: 3px 0 0 0;
	position: relative;
}

.search-query-1 div:first-child:before {
	font-family: FontAwesome;
	content: "\f002";
	color: #999;
	font-size: 36px;
	position: absolute;
	top: 11px;
	left: -47px;
}

.search-query-1 div:last-child {
	float: left;
	font-weight: 900;
	margin: 0 0 0 7px;

	color: #252525;
	max-width: 350px;
	line-height: 24px;
}

.search-query-1 div:last-child span {
	background: #fff000;
}

.search-results .gallery-widget {
	width: 100%;
	height: 128px;
	position: relative;
	color: #fff;
	float: left;
	margin: 20px 0 20px 0;
}

.search-results .gallery-widget:after {
	width: 100%;
	height: 1px;
	line-height: 1px;
	content: "";
	background: #e4e4e4;
	bottom: -21px;
	position: absolute;
}

.search-results .gallery-widget .background {
	width: 100%;
	height: 128px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.search-results .gallery-widget .background img {
	width: 128px;
	height: 128px;
	float: left;
}

.search-results .gallery-widget a {
	color: #fff;
}

.post-1 .post .gallery-widget a:hover {
	color: #ff5732;
}

.post-1 .post .gallery-widget p {
	margin: 0;
	line-height: 18px;
}

.search-results .gallery-widget .title {
	width: 100%;
	bottom: 0;
	position: absolute;
	padding: 0 20px 15px 20px;
}

.search-results .gallery-widget h2 {
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
	margin: 0 0 3px 0;
}

.search-results .gallery-widget .overlay {
	width: 100%;
	height: 128px;
	transition: all 0.3s;
	position: relative;
	z-index: 100;
	box-shadow: rgba(0, 0, 0, 0.8) 0 -140px 50px -80px inset;
}

.search-results .gallery-widget .intro {
	position: absolute;
	right: 18px;
	bottom: 15px;
}

.panel-group {
	margin: 0 0 25px 0;
}

.panel-group .panel + .panel {
	margin: 0;
}

.panel {
	border: none;
	box-shadow: none;
	border-radius: 0;
	background: none;
	padding: 0;
	margin: 0;
}

.panel-default {
	border-bottom: 1px solid #e4e4e4;
	padding: 0;
	margin: 0;
}

.panel-default .panel-heading {
	background: none;
	border: none;
	padding: 0;
}

.panel-default .panel-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #999;
	font-weight: 900;
	padding: 17px 0;
	margin: 0 !important;
}

.panel-default .panel-title a {
	color: #ff5732;
}

.panel-default .panel-title a.collapsed {
	color: #999;
}

.panel-default .panel-title a.collapsed:after {
	font-family: FontAwesome;
	content: "\f078";
	position: absolute;
	right: 0;
}

.panel-default .panel-title a:after {
	font-family: FontAwesome;
	content: "\f077";
	position: absolute;
	right: 0;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
	border: none;
	padding: 0 0 17px 0;
}

.panel-group .panel:first-child .panel-title {
	padding: 0 0 17px 0;
}

.info-box p {
	margin: 0 !important;
	color: #252525;
}

.info-box p:first-of-type {
	font-size: 28px !important;
	margin: 0 0 15px 0 !important;
}

.info-box {
	background: #e7e7e7;
	box-shadow: rgba(0, 0, 0, 0.15) 0 -1px 0 inset;
	text-align: center;
	padding: 35px;
	margin: 0 0 25px 0;
}

.info-box.warning {
	background: #f3002e;
	color: #fff;
}

.info-box.warning p {
	color: #fff !important;
}

.info-box.success {
	background: #1db000;
	color: #fff;
}

.hotness {
	font-size: 9px;
	font-weight: 900;
	color: #ff5732;
	text-transform: uppercase;
}

.hotness:before {
	font-family: FontAwesome;
	content: "\f0e7";
	margin: 0 3px 0 3px;
	font-size: 12px;
}


/* Titles */

.title-default {
	box-shadow: #e4e4e4 0 -3px 0 inset;
}

.title-default > a {
	font-weight: 900;
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
	color: #999;
	padding: 0 0 10px 0;
	margin: 0 25px 0 0;
	display: inline-block;
}

.title-default > a:hover {
	color: #ff5732;
}

.title-default > a.active {
	color: #ff5732;
	box-shadow: #ff5732 0 -3px 0 inset;
}

.title-default .view-all {
	font-size: 11px;
	line-height: 11px;
	font-weight: 400;
	text-transform: none;
	margin: 5px 0 0 0;
	float: right;
}

.title-default .view-all:after {
	font-family: FontAwesome;
	content: "\f0ca";
	color: #999;
	font-size: 11px;
	line-height: 11px;
	vertical-align: top;
	margin: 0 0 0 6px;
}

.title-default .view-all:hover:after {
	color: #ff5732;
}

.title-default .go-back {
	font-size: 11px;
	line-height: 11px;
	font-weight: 400;
	text-transform: none;
	margin: 5px 0 0 0;
	float: right;
}

.title-default .go-back:after {
	font-family: FontAwesome;
	content: "\f112";
	color: #999;
	font-size: 11px;
	line-height: 11px;
	vertical-align: top;
	margin: 0 0 0 6px;
}

.title-default .go-back:hover:after {
	color: #ff5732;
}


/* Trending */

.trending {
	position: relative;
	padding: 15px 0 0 0;
	z-index: 100;
	height: 41px;
	width: 100%;
}

.trending > a {
	padding: 0 0 15px 0;
}

.trending .items-wrapper {
	width: 100%;
	top: -27px;
	position: relative;
	overflow: hidden;
	height: 29px;
}

.trending .items {
	width: 100%;
	margin: 0 0 0 95px;
	padding: 0;
	text-overflow: clip;
	white-space: nowrap;
	transition: 0.2s all;
}
.trending .items .item {
	display: none;
}
.trending .items .item:first-child {
	display: block;
}

.trending .items .item:last-child:after {
	display: none;
}

.trending .items .item .legend-default {
	margin: 0 0 0 3px;
}

.trending .items .item .tag-default {
	display: none;
}

.trending .items .item.hot .tag-default {
	display: inline-block;
}

.trending:hover .controls {
	display: block;
}

.trending:hover .items {
	opacity: 0.7;
	margin: 0 0 0 65px;
}

.trending .controls {
	position: absolute;
	top: 14px;
	left: 95px;
	display: none;
	z-index: 10000;
	background: transparent;
}

.trending .controls > div {
	margin: 0 auto;
	display: table;
}

.trending .controls a {
	color: #999;
}

.trending .controls a:hover, .trending .controls a.active {
	color: #ff5732;
}

.trending .controls i {
	margin: 0 0 0 5px;
	line-height: 18px;
	float: left;
}

.trending .controls .fa-caret-up {
	font-size: 20px;
	margin: -2px 7px 0 0;
}

.trending .controls .fa-caret-down {
	font-size: 20px;
	margin: -1px 4px 0 0;
}

.trending .controls .fa-pause {
}

.trending .social {
	position: absolute;
	top: 12px;
	right: 0;
	font-size: 17px;
	background: transparent;
	padding: 0 0 0 15px;
}

.trending .social a {
	color: #999;
}

.trending .social a:hover {
	color: #ff5732;
}




/* Header */

.header {
	padding: 0;
	margin: 30px auto;
	position: relative;
	z-index: 100;
   display: table;
}

.header .logo-image {
	padding: 0;
   width: 242px;
   text-align: center;
   vertical-align: middle;
   display: table-cell;
}

.header .logo-text {
	width: 242px;
	text-align: center;
	vertical-align: middle;
   display: table-cell;
}

.header .logo-text h2 {
	font-size: 32px;
	line-height: 32px;
	text-transform: uppercase;
	font-weight: 900;
	color: #ff5732;
	letter-spacing: 5px;
	margin: 0 0 4px 0;
}

.header .logo-text p {
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
	font-weight: 900;
}

.header .banner-728x90 {
	margin: 0;
    display: table-cell;
}


/* Menu */

.menu {
	margin: 0 0 32px 0;
	border: none;
	z-index: 1000;
	border-radius: 0;
}

.menu .container {
	padding: 0;
	background: #252525;
	box-shadow: #ff5732 0 3px 0;
	position: relative;
}

.menu ul.nav select {
	display: none;
}

.menu .nav {
	display: table-row;
	background: none;
}

.menu .nav:before {
	display: none;
}

.menu .nav > li {
	vertical-align: top;
}

.menu .nav li {
	display: table-cell;
	text-align: center;
	position: inherit !important;
}

.menu .nav li a {
	padding: 15px 17px;
	color: #fff;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
	font-weight: 900;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.07s;
}

.menu .nav li > a:hover {
	color: #ff5732;
	background: none;
}

.menu .nav li > a:hover:after {
	color: #ff5732;
}

.menu .nav .active:hover > a {
	background: #ff5732;
	color: #252525;
}

.menu .nav .active > a, .menu .nav .active > a:hover {
	background: #ff5732;
	color: #252525;
}

.menu .nav .active > a:after {
	color: #252525;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background: none;
}

.nav > li > a:hover, .nav > li > a:focus {
	background: none;
}

.menu .nav .search {
	position: relative !important;
}

.menu .nav .search .form-control {
	position: absolute;
	border: 1px solid #252525;
	top: 7px;
	right: 7px;
	opacity: 0;
	width: 0;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.07s;
}

.menu .nav .search .dropdown-toggle {
	z-index: 1000000 !important;
	width: 58px;
}

.menu .nav .search.open .form-control {
	width: 300px;
	opacity: 1;
	z-index: 100000;
}

.menu .nav .search.open .dropdown-toggle:after {
	transform: rotate(90deg);
	display: inline-block;
}


.menu .nav .new-stories a {
	padding: 13px 0 15px 0;
}

.menu .nav .new-stories .tag-default, .menu .nav .new-stories .legend-default a {
    color: #fff !important;
}
.menu .nav .new-stories > a {
    padding: 13px 0 17px 0;
    min-width: 80px;
}

.menu .nav .new-stories.new:hover a {
	color: #fff;
}

.menu .nav .new-stories a s {
	font-size: 23px;
	float: left;
	text-decoration: none;
}

.menu .nav .new-stories a span {
	font-size: 8px;
	line-height: 8px;
	display: block;
	text-align: left;
	float: left;
	padding: 3px 0 0 5px;
}

.menu .nav .new-stories.new a {
	color: #ff5732;
}

.menu .nav .dropdown-toggle {
	background: none;
}

.menu .nav .dropdown-toggle:after {
	font-family: FontAwesome;
	content: "\f0d7";
	color: #999;
	font-size: 12px;
	line-height: 12px;
	vertical-align: top;
	margin: 0 0 0 2px;
}

.navbar-default {
	background: none;
}

.navbar .dropdown.open > a, .navbar .dropdown.open > a:hover {
	z-index: 10000;
	position: relative;
	color: #ff5732;
}

.navbar .dropdown.open .dropdown-toggle:after {
	color: #ff5732;
}

.navbar .dropdown.active.open .dropdown-toggle:after {
	color: #252525;
}

.navbar .dropdown.active.open > a, .navbar .dropdown.active.open > a:hover {
	z-index: 10000;
	position: relative;
	color: #252525;
}

.affix .menu .nav > li a {
	padding: 8px 12px;
	font-size: 12px;
}

.affix .menu .nav .new-stories {
	right: 8px;
}

.affix .menu .nav .new-stories a s {
	font-size: 18px;
}

.affix .menu .nav .new-stories a span {
	font-size: 7px;
	line-height: 7px;
}

.affix .navbar {
	min-height: 38px;
	background: #252525;
	box-shadow: #ff5732 0 -3px 0 inset;
	transition: all 0.07s ease-in 0.07s;
}

.affix .dropdown-menu {
	top: 35px;
}

.affix .menu .dropdown-menu ul li a {
	padding: 15px 20px 15px 0;
	font-size: 13px;
}

.affix .menu .nav .search .form-control {
	top: 1px;
	padding: 3px 12px;
	height: 33px;
}

.affix .menu .nav .search.open .form-control {
	width: 300px;
	opacity: 1;
	z-index: 100000;
}


.navbar-wrapper-responsive {
	display: none;
}

.navbar-wrapper-responsive .menu .nav .active .dropdown-toggle:after, .navbar-wrapper-responsive .menu .nav .bars .dropdown-toggle:after  {
	display: none;
}

.navbar-wrapper-responsive .menu .nav .bars {
	float: right;
	display: block;
}

.navbar-wrapper-responsive .bars a {
	padding: 15px 19px 12px 19px !important;
}

.navbar-wrapper-responsive .bars i {
	font-size: 20px;
}

.navbar-wrapper-responsive .bars.open > a {
	background: #ff5732 !important;
	color: #252525 !important;
}

.navbar-wrapper-responsive .menu .nav .new-stories {

}

.navbar-wrapper-responsive .menu .nav .search {
	position: absolute !important;
	right: 150px;
	top: 0;
}

.navbar-wrapper-responsive .dropdown-menu {
	padding: 5px 20px;
}

.navbar-wrapper-responsive .dropdown-menu ul {
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
}

.navbar-wrapper-responsive .dropdown-menu ul li {
	display: block !important;
	width: 100%;
	border-top: 1px solid #5e5e5e;
}

.navbar-wrapper-responsive .dropdown-menu ul li a {
	padding: 15px 0 !important;
	font-weight: 900 !important;
	text-transform: uppercase !important;
	font-size: 15px !important;
}

.navbar-wrapper-responsive .dropdown-menu ul ul {
	margin: 0 0 15px 0 !important;
	overflow: hidden;
}

.navbar-wrapper-responsive .dropdown-menu ul ul li {
	border: none !important;
	font-size: 13px;
}

.navbar-wrapper-responsive .dropdown-menu ul ul li a {
	padding: 0 !important;
	font-weight: 400 !important;
	text-transform: none !important;
	line-height: 26px;
	font-size: 13px !important;
}


/* Dropdown menu */

.dropdown.open .dropdown-menu {
	visibility: visible;
}

.dropdown-menu {
	display: none;
	visibility: hidden;
	left: auto;
	top: 49px;
	left: 0;
	border-radius: 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 3px 0 0, #000 0 -1px 0 inset, #ff5732 0 3px 0 inset;
	text-align: left;
	border: none;
	z-index: 1000;
	margin: 0;
	background: #333;
	color: #fff;
	padding: 3px 0 0 0;
}

.menu .dropdown-menu a:hover {
	background: none !important;
}

.dropdown-menu.full-width {
	width: 100%;
}

.menu .dropdown-menu > ul {
	margin: 20px;
	padding: 0;
	display: block;
	float: left;
}

.menu .dropdown-menu ul li {
	margin: 0;
	padding: 0;
	display: block;
	text-align: left;
	border-top: 1px solid #5e5e5e;
}

.menu .dropdown-menu ul li:first-child {
	border: none;
}

.menu .dropdown-menu ul li a {
	margin: 0;
	padding: 15px 20px 15px 0;
	font-size: 13px;
	text-transform: none;
	font-weight: 400;
	display: block;
}

.menu .dropdown-menu ul li:first-child a {
	padding: 0 20px 15px 0;
}

.menu .dropdown-menu ul li:last-child a {
	padding: 15px 20px 0 0;
}

.menu .dropdown-menu .items {
	display: table;
}

.menu .dropdown-menu .items .item {

	position: relative;
	overflow: hidden;
	background-size: cover;
	display: table-cell;
}

.menu .dropdown-menu .items .item a {
	padding: 0;
	text-transform: none;
}

.menu .dropdown-menu .items .item a:hover {
	color: #ff5732;
}

.menu .dropdown-menu .items .item p {
	margin: 0 0 0 0;
}

.menu .dropdown-menu .items .title {
	bottom: 0;
	position: absolute;
	padding: 0 20px 18px 20px;
}

.menu .dropdown-menu .items .title .stars {
	margin: 0 0 10px 0;
}

.menu .dropdown-menu .items .intro {
	padding: 22px 0 0 0;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.07s;
	font-size: 13px;
	line-height: 18px;
}

.menu .dropdown-menu .items .intro .more-link {
	margin: 13px 0 0 0;
}

.menu .dropdown-menu .items .item:hover .overlay {
	background: rgba(0, 0, 0, 0.7);
}

.menu .dropdown-menu .items .item:hover .intro {
	padding: 12px 0 0 0;
	margin: 0 !important;
}

.menu .dropdown-menu .items .small {
	width: 200px;
	height: 308px;
	box-shadow: rgba(0, 0, 0, 0.8) 0 -150px 90px -50px inset;
}

.menu .dropdown-menu .items .small h2 {
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
	margin: 0 0 7px 0;
	padding: 0;
}

.menu .dropdown-menu .items .small h2 a {
	font-size: 14px;
	padding: 0;
	display: inline;
}

.menu .dropdown-menu .items .small .overlay {
	width: 200px;
	height: 308px;
	transition: background 0.3s;
}

.menu .dropdown-menu .items .small .legend-default {
	display: block;
	line-height: 11px;
	padding: 5px 0 0 0;
}

.menu .dropdown-menu .items .big {
	width: 100%;
	height: 308px;
	box-shadow: rgba(0, 0, 0, 0.8) 0 -150px 90px -50px inset;
}

.menu .dropdown-menu .items .big h2 {
	font-size: 20px;
	line-height: 25px;
	font-weight: 900;
	margin: 0 0 7px 0;
	padding: 0;
}

.menu .dropdown-menu .items .big h2 a {
	font-size: 20px;
	padding: 0;
	display: inline;
}

.menu .dropdown-menu .items .big .overlay {
	width: 100%;
	height: 308px;
	transition: background 0.3s;
}

.menu .dropdown-menu .sorting {
	padding: 20px 20px 13px 20px;
	position: relative;
}

.menu .dropdown-menu .sorting a:hover {
	color: #ff5732;
}

.menu .dropdown-menu .sorting .label {
	font-size: 13px;
	font-weight: 400;
	color: #999;
	float: left;
	padding: 3px 20px 0 0;
}

.menu .dropdown-menu .sorting .tag-1 {
	padding: 0;
	text-transform: none;
	font-weight: 400;
	font-size: 13px;
	border: 1px solid #5e5e5e;
	line-height: 13px;
}

.menu .dropdown-menu .sorting .tag-1 span {
	padding: 3px 5px;
}

.menu .dropdown-menu .post-block-1 .items {
	margin: 0;
	padding: 20px 20px 10px 20px;
	width: 100%;
}

.menu .dropdown-menu .post-block-1 .post-item {
	width: 450px;
	float: left;
	position: relative;
	margin: 10px 0 0 0;
	padding: 20px 0 0 0;
	border-top: 1px solid #5e5e5e;
}

.menu .dropdown-menu .post-block-1 .post-item:nth-child(odd) {
	margin: 10px 30px 0 0;
}

.menu .dropdown-menu .post-block-1 .post-item:nth-child(1), .menu .dropdown-menu .post-block-1 .post-item:nth-child(2) {
	border: none;
	padding: 0;
	margin-top: 0;
}

.menu .dropdown-menu .post-block-1 .post-item .image {
	float: left;
	margin: 0 20px 10px 0;
	position: relative;
}

.menu .dropdown-menu .post-block-1 .post-item .image a {
	display: inline;
	padding: 0;
}

.menu .dropdown-menu .post-block-1 .post-item .title {
	float: left;
	margin: 0 0 3px 0;
	padding: 0;
	width: 310px;
	position: relative;
	text-align: left;
}

.menu .dropdown-menu .post-block-1 .post-item .post-intro {
	font-size: 13px;
	line-height: 18px;
}

.menu .dropdown-menu .post-block-1 .post-item h2 {
	margin: 0 0 6px 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
}

.menu .dropdown-menu .post-block-1 .post-item h2 a {
	padding: 0;
	display: inline;
	text-transform: none;
	font-size: 14px;
	background: none;
	color: #fff;
}

.menu .dropdown-menu .post-block-1 .post-item h2 a:hover {
	color: #ff5732;
}

.menu .dropdown-menu .post-block-1 .post-item .stars {
	position: absolute;
	bottom: 10px;
	left: -4px;
}

.menu .dropdown-menu .btn-default {
	width: 100%;
	background: #252525 !important;
	border: none;
}

.menu .dropdown-menu .btn-default span:after {
	font-family: FontAwesome;
	content: "\f01e";
	color: #999;
	font-size: 15px;
	line-height: 15px;
	vertical-align: top;
	margin: 0 0 0 6px;
}

.menu .dropdown-menu .btn-default:hover {
	color: #ff5732;
}

.menu .dropdown-menu .btn-default:hover span:after {
	color: #ff5732;
}

/* Non-mega menu */

.default-dropdown {
	left: auto;
	width: 180px;
	margin-left: 0;
	margin-right: 0;
}
.menu .default-dropdown > ul {
    width: 180px;
    margin: 10px 0 20px 0;
}
.menu .default-dropdown > ul > li {
    padding: 0 20px;
    border-top: 0;
}
.menu .default-dropdown > ul > li > a {
    border-top: 1px solid #5e5e5e;
}
.menu .default-dropdown > ul > li:first-child > a {
    border-top: none;
}
.menu .default-dropdown > ul > li.dropdown {
	position: relative !important;
}
.menu .default-dropdown > ul > li.dropdown .default-dropdown {
    display: none;
    top: 0;
    left: 180px;
}
.menu .dropdown-menu  > ul > li.dropdown .default-dropdown li a {
    padding: 15px 20px 15px 0;
}
.menu .default-dropdown > ul > li.dropdown .default-dropdown li:first-child a {
    padding: 0 20px 15px 0;
}
.menu .default-dropdown > ul > li.dropdown .default-dropdown li:last-child a {
    padding: 15px 20px 0 0;
}
.menu .default-dropdown > ul > li.dropdown:hover .default-dropdown,
.menu .default-dropdown > ul > li.dropdown.open .default-dropdown {
    display: block;
}
.menu .default-dropdown .has-children > a:after {
    font-family: FontAwesome;
	content: "\f04b";
	color: #999;
	font-size: 8px;
	line-height: 10px;
	vertical-align: top;
	margin: 4px 0 0 5px;
	display: inline-block;
    position: absolute;
    right: 20px;
}

/* Mosaic */

.mosaic {
	margin: 0 auto 30px auto;
	padding: 0;
	color: #fff;
}

.mosaic a {
	color: #fff;
}

.mosaic a:hover {
	color: #ff5732;
}

.mosaic .item {
	float: left;
	position: relative;
	overflow: hidden;
}

.mosaic .item p {
	margin: 0 0 0 0;
}

.mosaic .title {
	bottom: 0;
	position: absolute;
	padding: 0 25px 22px 25px;
}

.mosaic .title .stars {
	margin: 0 0 10px 0;
}

.mosaic .big {
	width: 340px;
	height: 400px;
	box-shadow: rgba(0, 0, 0, 0.8) 0 -190px 120px -50px inset;
}

.mosaic .big h2 {
	font-size: 20px;
	line-height: 25px;
	font-weight: 900;
	margin: 0 0 7px 0;
}

.mosaic .big .overlay {
	width: 340px;
	height: 400px;
	transition: all 0.3s;
}

.mosaic .small {
	width: 315px;
	height: 200px;
	box-shadow: rgba(0, 0, 0, 0.8) 0 -150px 90px -50px inset;
}

.mosaic .small h2 {
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
	margin: 0 0 7px 0;
}

.mosaic .small .overlay {
	width: 315px;
	height: 200px;
	transition: all 0.3s;
}

.mosaic .intro {
	padding: 22px 0 0 0;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.07s;
	font-size: 13px;
	line-height: 18px;
}

.mosaic .intro .more-link {
	margin: 13px 0 0 0;
}

.mosaic .item:hover .overlay {
	background: rgba(0, 0, 0, 0.7);
}

.mosaic .item:hover .intro {
	padding: 12px 0 0 0;
	margin: 0 !important;
}

.mosaic .btn-default {
	width: 100%;
}

.mosaic .btn-default span:after {
	font-family: FontAwesome;
	content: "\f01e";
	color: #999;
	font-size: 15px;
	line-height: 15px;
	vertical-align: top;
	margin: 0 0 0 6px;
}

.mosaic .btn-default:hover span:after {
	color: #252525;
}

.mosaic.disabled .overlay, .mosaic.disabled .item:hover .overlay {
	background: rgba(0, 0, 0, 0.8);
}

.mosaic.disabled .title {
	opacity: 0.15;
}


/* Slider tabs */

.slider-tabs {
	padding: 0;
	margin: 0 auto 30px auto;
	position: relative;
	z-index: 11;
}

.slider-tabs .items .item {
	padding: 22px;
	overflow: hidden;
	background: #fff;
	border-bottom: 1px solid #e4e4e4;
}

.slider-tabs .post-item {
	width: 215px;
	float: left;
	position: relative;
	margin: 0 22px 0 0;
}

.slider-tabs .item .post-item:last-child {
	margin: 0;
}

.slider-tabs .post-item h2 {
	margin: 15px 0 6px 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
}

.slider-tabs .post-item .stars {
	position: absolute;
	top: 167px;
	left: -4px;
}

.slider-tabs .post-item-overlay {
	width: 259px;
	position: absolute;
	padding: 22px 22px 20px 22px;
	background: #252525;
	color: #fff;
	z-index: 1000;
}

.slider-tabs .post-item-overlay h2 a {
	color: #fff;
}

.slider-tabs .post-item-overlay h2 a:hover {
	color: #ff5732;
}

.slider-tabs .post-item-overlay .intro {
	padding: 12px 0 0 0;
}

.slider-tabs .post-item-overlay .intro .more-link {
	margin: 12px 0 0 0;
}

.slider-tabs .post-item-overlay .stars {
	position: absolute;
	top: 189px;
	left: 18px;
}

.slider-tabs .carousel-indicators {
	position: absolute;
	margin: 0;
	top: -1px;
	right: 0;
	left: auto;
	bottom: auto;
	width: auto;
}

.slider-tabs .carousel-control.left {
	position: absolute;
	top: 150px;
	left: -75px;
}

.slider-tabs .carousel-control.right {
	position: absolute;
	top: 150px;
	right: -75px;
}


/* Main columns */

.homepage-content {
	padding: 0;
}

.main-content-column-1 {
	width: 640px;
	float: left;
	margin: 0 30px 0 0;
}

.main-content-column-1.right {
	margin: 0;
}

.main-content-column-1.full-width {
	margin: 0;
	width: 970px;
}

.main-content-column-1 .banner-468x60 {
	padding: 0;
	margin: 30px 0;
	text-align: center;
	display: table;
	width: 100%;
}


/* Sidebar */

.main-sidebar {
	width: 300px;
	float: left;
	position: relative;
}
.sidebar-affix-wrap.affix {
    width: 300px;
    top: 40px;
    position: fixed !important;
}
.main-sidebar.left {
	margin: 0 30px 0 0;
}

.main-sidebar .banner-300x250 {
	margin: 0 0 30px 0;
	text-align: center;
}

.widget-tabs {
	margin: 0 0 30px 0;
}

.switchable-tabs .tabs-content .items {
	display: none;
}
.switchable-tabs .tabs-content .items:first-child {
	display: block;
}

.widget-tabs .items {
	padding: 20px;
	overflow: hidden;
	background: #fff;
	border-bottom: 1px solid #e4e4e4;
	width: 100%;
}

.widget-tabs .post-item {
	border-top: 1px solid #e4e4e4;
	display: table;
	padding: 20px 0 0 0;
	margin: 0 0 20px 0;
}

.widget-tabs .items .post-item:first-child {
	padding: 0;
	border: none;
}

.widget-tabs .items .post-item:last-child {
	margin: 0;
}

.widget-tabs .post-item .image {
	float: left;
	margin: 0 20px 0 0;
	position: relative;
}

.widget-tabs .post-item .title {
	float: left;
	margin: -3px 0 0 0;
	width: 170px;
}

.widget-tabs .post-item .title h2 {
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
	margin: 0 0 3px 0;
}

.widget-tabs .post-item .title .legend-default {
	padding: 5px 0 0 0;
	display: block;
	line-height: 11px;
}

.widget-tabs .post-item .stars {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.widget-tabs .post-item-overlay {
	width: 300px;
	border-top: none;
	position: absolute;
	padding: 20px;
	background: #252525;
	color: #fff;
	z-index: 1000;
}

.widget-tabs .post-item-overlay .title h2 a {
	color: #fff;
}

.widget-tabs .post-item-overlay .title h2 a:hover {
	color: #ff5732;
}

.widget-tabs .post-item-overlay .intro {
	padding: 18px 0 0 0;
	float: left;
}

.widget-tabs .post-item-overlay .intro .more-link {
	margin: 12px 0 0 0;
}

.widget-tabs .btn-default {
	width: 100%;
}

.widget-tabs .btn-default span:after {
	font-family: FontAwesome;
	content: "\f0ca";
	color: #999;
	font-size: 15px;
	line-height: 15px;
	vertical-align: top;
	margin: 0 0 0 6px;
}

.widget-tabs .btn-default:hover span:after {
	color: #252525;
}

.widget-text {
	margin: 0 0 30px 0;
}

.widget-text .content {
	padding: 15px 0 0 0;
}

.archives {
	font-size: 11px;
	color: #999;
}

.archives a {
	font-size: 13px;
	float: left;
	line-height: 13px;
}

.archives .table {
	margin: 0;
}

.archives .table td {
	padding: 15px 0;
	text-align: right;
}

.archives .table tr td:first-child {
	padding: 15px 10px 15px 0;
}

.archives .table tr td:last-child {
	padding: 15px 0 15px 10px;
}

.archives .table tr:first-child td {
	padding: 0 10px 15px 0;
	border: none;
}

.archives .table tr:first-child td:last-child {
	padding: 0 0 15px 10px;
}

.archives .table tr:last-child td {
	padding: 15px 10px 0 0;
}

.archives .table tr:last-child td:last-child {
	padding: 15px 0 0 10px;
}

.tag-cloud .show-more-link {
	margin: 10px 0 0 0;
}

.tag-cloud.tag-title {
	position: relative;
	padding: 20px 0 0 23px;
}

.tag-cloud.tag-title i {
	color: #999;
	position: absolute;
	top: 24px;
	left: 0;
}


/* Post block 1 */

.post-block-1 {
	display: table;
	position: relative;
	margin-bottom: 30px;
}

.post-block-1 .items {
	width: 360px;
	float: left;
	padding: 20px 0 0 0;
	margin: 0 30px 0 0;
}

.post-block-1 .post-item {
	width: 360px;
	float: left;
	position: relative;
	margin: 0 22px 19px 0;
	padding: 20px 0 0 0;
	border-top: 1px solid #e4e4e4;
}

.post-block-1 .post-item:first-child {
	padding: 0;
	border: none;
}

.post-block-1 .post-item:last-child {
	margin: 0;
}

.post-block-1 .post-item .image {
	float: left;
	margin: 0 20px 0 0;
	position: relative;
}

.post-block-1 .post-item .title {
	float: left;
	margin: 0 0 3px 0;
	width: 220px;
}

.post-block-1 .post-item h2 {
	margin: 0 0 6px 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
}

.post-block-1 .post-item .stars {
	position: absolute;
	bottom: 10px;
	left: -4px;
}

.post-block-1 .post-item-overlay {
	width: 400px;
	position: absolute;
	padding: 20px;
	background: #252525;
	color: #fff;
	z-index: 1000;
	border: none;
}

.post-block-1 .post-item-overlay h2 a {
	color: #fff;
}

.post-block-1 .post-item-overlay h2 a:hover {
	color: #ff5732;
}

.post-block-1 .post-item-overlay .intro .more-link {
	margin: 12px 0 0 0;
}

.post-block-1 .slider {
	width: 250px;
	float: left;
	position: relative;
}

.post-block-1 .slider .items {
	width: 250px;
	margin: 0;
}

.post-block-1 .slider .post-item {
	width: 250px;
	display: none;
	z-index: auto !important;
}
.cycle-slideshow .post-item:first-child {
	display: block;
}
.post-block-1 .slider .post-item .stars {
	left: 0;
}

.post-block-1 .slider .post-item .image {
	width: 250px;
	float: none;
	margin: 0 0 15px 0;
}

.post-block-1 .slider .post-item h2 {
	margin: 0 0 6px 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: 900;
}

.post-block-1 .slider .post-item .title {
	float: none;
	width: 250px;
}

.post-block-1 .slider .post-item .intro {
	float: none;
	width: 250px;
	padding: 3px 0 0 0;
}

.post-block-1 .slider .thumbs {
	padding: 27px 0 0 0;
	width: 100%;
	display: table;
	box-shadow: 0 -3px 0 #e4e4e4 inset;
}

.post-block-1 .slider .thumbs a {
	padding: 0 0 14px 0;
	margin: 0 10px 0 0;
	float: left;
}

.post-block-1 .slider .thumbs a:last-child {
	margin: 0;
}

.post-block-1 .slider .thumbs .active, .post-block-1 .slider .thumbs a:hover {
	box-shadow: 0 -3px 0 #ff5732 inset;
}

.post-block-1 .slider .thumbs img {
	float: left;
}

.post-block-1 .slider .post-item-overlay {
	width: 290px;
	padding: 20px;
}


/* Post block 2 */

.post-block-2 {
	width: 305px;
	margin: 0 30px 30px 0;
	float: left;
	display: table;
	position: relative;
}

.post-block-2.last {
	margin: 0 0 30px 0;
}

.post-block-2 .items {
	width: 305px;
	float: left;
	padding: 20px 0 0 0;
}

.post-block-2 .post-item {
	width: 305px;
	float: left;
	position: relative;
	margin: 0 22px 19px 0;
	padding: 20px 0 0 0;
	border-top: 1px solid #e4e4e4;
}

.post-block-2 .items .post-item:first-child {
	border: none;
	padding: 0;
}

.post-block-2 .items .post-item:last-child {
	margin: 0;
}

.post-block-2 .post-item.featured .image {
	float: left;
	margin: 0 0 15px 0;
	position: relative;
}

.post-block-2 .post-item.featured .title {
	float: left;
	margin: 0 0 6px 0;
	width: 305px;
}

.post-block-2 .post-item.featured .legend-default {
	display: inline-block !important;
}

.post-block-2 .post-item.featured h2 {
	margin: 0 0 6px 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: 900;
}

.post-block-2 .post-item.featured .stars, .post-block-2 .post-item-featured-overlay .stars {
	position: absolute;
	bottom: 10px;
	left: -4px;
}

.post-block-2 .post-item .image {
	float: left;
	margin: 0 20px 0 0;
	position: relative;
}

.post-block-2 .post-item .title .legend-default {
	padding: 5px 0 0 0;
	display: block;
	line-height: 9px;
}

.post-block-2 .post-item .title {
	float: left;
	margin: -3px 0 0 0;
	width: 215px;
}

.post-block-2 .post-item h2 {
	margin: 0 0 3px 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
}

.post-block-2 .post-item .intro {
	float: left;
	padding: 3px 0 0 0;
}

.post-block-2 .post-item .stars {
	position: absolute;
	bottom: 0;
	left: 0;
}

.post-block-2 .post-item-featured-overlay {
	width: 345px;
	position: absolute;
	padding: 20px;
	background: #252525;
	color: #fff;
	z-index: 1000;
	border: none;
	margin: 0;
}

.post-block-2 .post-item-featured-overlay .image {
	margin: 0 0 15px 0;
}

.post-block-2 .post-item-featured-overlay .title {
	width: auto;
	margin: 0 0 6px 0;
}

.post-block-2 .post-item-featured-overlay .legend-default {
	display: inline-block !important;
}

.post-block-2 .post-item-featured-overlay h2 {
	font-size: 20px;
	line-height: 25px;
	margin: 0 0 6px 0;
}

.post-block-2 .post-item-featured-overlay h2 a {
	color: #fff;
}

.post-block-2 .post-item-featured-overlay h2 a:hover {
	color: #ff5732;
}

.post-block-2 .post-item-featured-overlay .intro .more-link {
	margin: 12px 0 0 0;
}

.post-block-2 .post-item-featured-overlay .stars {
	position: absolute;
	bottom: 10px;
	left: -4px;
}

.post-block-2 .post-item-overlay {
	width: 345px;
	border-top: none;
	position: absolute;
	padding: 20px;
	background: #252525;
	color: #fff;
	z-index: 1000;
}

.post-block-2 .post-item-overlay .title {
	width: 215px;
}

.post-block-2 .post-item-overlay .title h2 a {
	color: #fff;
}

.post-block-2 .post-item-overlay .title h2 a:hover {
	color: #ff5732;
}

.post-block-2 .post-item-overlay .intro {
	padding: 18px 0 0 0;
	float: left;
}

.post-block-2 .post-item-overlay .intro .more-link {
	margin: 12px 0 0 0;
}


/* Post block 3 */

.post-block-3 {
	width: 100%;
	margin: 0 30px 30px 0;
	display: table;
	position: relative;
}

.post-block-3 .items {
	padding: 20px 0 0 0;
}

.post-block-3 .post-item {
	width: 200px;
	float: left;
	position: relative;
	margin: 0 20px 0 0;
}

.post-block-3 .items .post-item:last-child {
	margin: 0;
}

.post-block-3 .post-item .image {
	margin: 0 0 20px 0;
	position: relative;
}

.post-block-3 .post-item .title {
	float: left;
	margin: -3px 0 0 0;
	width: 215px;
}

.post-block-3 .post-item h2 {
	margin: 0 0 3px 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: 900;
}

.post-block-3 .post-item .intro {
	float: left;
	padding: 10px 0 0 0;
}

.post-block-3 .post-item .stars {
	position: absolute;
	bottom: 10px;
	left: -4px;
}

.post-block-3 .post-item-overlay {
	width: 240px;
	border-top: none;
	position: absolute;
	padding: 20px;
	background: #252525;
	color: #fff;
	z-index: 1000;
}

.post-block-3 .post-item-overlay .title h2 a {
	color: #fff;
}

.post-block-3 .post-item-overlay .title h2 a:hover {
	color: #ff5732;
}

.post-block-3 .post-item-overlay .intro {
	padding: 18px 0 0 0;
	float: left;
}

.post-block-3 .post-item-overlay .intro .more-link {
	margin: 12px 0 0 0;
}

.post-block-3.featured .post-item {
	margin: 0 27px 0 0;
	width: 305px;
}

.post-block-3.featured .post-item .title {
	width: 305px;
}

.post-block-3.featured .post-item-overlay {
	width: 345px;
}


/* Blog block 1 */

.blog-block-1 {
	width: 100%;
	margin: 0 30px 30px 0;
	display: table;
	position: relative;
}

.blog-block-1 .items {
	width: 640px;
	padding: 20px 0 0 0;
}

.blog-block-1 .post-item {
	width: 640px;
	float: left;
	position: relative;
	margin: 20px 0 0 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #e4e4e4;
}

.blog-block-1 .post-item:first-child {
	padding: 0 0 20px 0;
	margin: 0;
}

.blog-block-1 .post-item .image {
	float: left;
	margin: 0 20px 0 0;
	position: relative;
}

.blog-block-1 .post-item .title {
	float: left;
	margin: -3px 0 12px 0;
	width: 440px;
}

.blog-block-1 .post-item h2 {
	margin: 0 0 6px 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: 900;
}

.blog-block-1 .post-item .stars {
	position: absolute;
	bottom: 10px;
	left: -4px;
}

.blog-block-1 .intro .more-link {
	margin: 12px 0 0 0;
	line-height: 13px;
}

.blog-block-1 .intro .more-link:after {
	margin: 1px 0 -2px 5px;
}

.blog-block-1 .post-item-overlay {
	width: 680px;
	position: absolute;
	padding: 20px;
	background: #252525;
	color: #fff;
	z-index: 1000;
	border: none;
}

.blog-block-1 .post-item-overlay .title {
	float: none;
	width: 640px;
}

.blog-block-1 .post-item-overlay h2 a {
	color: #fff;
}

.blog-block-1 .post-item-overlay h2 a:hover {
	color: #ff5732;
}

.blog-block-1 .banner-468x60 {
	padding: 30px 0 10px 0;
}


/* Blog block 2 */

.blog-block-2 {
	width: 100%;
	margin: 0 30px 30px 0;
	display: table;
	position: relative;
}

.blog-block-2 .items {
	width: 640px;
	padding: 20px 0 0 0;
}

.blog-block-2 .post-item {
	width: 640px;
	float: left;
	position: relative;
	margin: 20px 0 0 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #e4e4e4;
}

.blog-block-2 .post-item:first-child {
	padding: 0 0 20px 0;
	margin: 0;
}

.blog-block-2 .post-item .image {
	float: left;
	margin: 0 0 15px 0;
	position: relative;
}

.blog-block-2 .post-item .title {
	float: left;
	margin: 0 0 12px 0;
	width: 640px;
}

.blog-block-2 .post-item h2 {
	margin: 0 0 6px 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: 900;
}

.blog-block-2 .post-item .stars {
	position: absolute;
	bottom: 10px;
	left: -4px;
}

.blog-block-2 .intro .more-link {
	margin: 12px 0 0 0;
	line-height: 13px;
}

.blog-block-2 .intro .more-link:after {
	margin: 1px 0 -2px 5px;
}

.blog-block-2 .post-item-overlay {
	width: 680px;
	position: absolute;
	padding: 20px;
	background: #252525;
	color: #fff;
	z-index: 1000;
	border: none;
}

.blog-block-2 .post-item-overlay .title {
	float: none;
	width: 640px;
}

.blog-block-2 .post-item-overlay h2 a {
	color: #fff;
}

.blog-block-2 .post-item-overlay h2 a:hover {
	color: #ff5732;
}

.blog-block-2 .banner-468x60 {
	padding: 30px 0 10px 0;
}


/* Post 1 */

.post-1 {
	position: relative;
}

.post-1 .image {
	position: absolute;
	right: 0;
	top: 0;
	height: 300px;
}

.post-1 .image .stars {
	position: absolute;
	bottom: 25px;
	right: 570px;
}

.post-1 .image .twitter {
	position: absolute;
	bottom: 25px;
	right: 128px;
}

.post-1 .image .facebook {
	position: absolute;
	bottom: 25px;
	right: 25px;
}

.post-1.no-image .image {
	background: none !important;
	height: 47px !important;
}
.post-1.no-image.no-stars.no-share .title {
	padding: 0;
}

.post-1.no-image .title {
	padding: 50px 0 0 0;
	margin: 0 0 20px 0;
}

.post-1 .title {
	padding: 320px 0 20px 0;
}

.post-1 .title h2 {
	font-size: 28px;
	line-height: 32px;
	font-weight: 900;
	margin: 0 0 5px 0;
}

.post-1 .post {
	padding: 0 0 10px 0;
}

.post-1 .post p {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 25px 0;
}

.post-1 .post p a {
	color: #ff5732;
	font-weight: 700;
}

.post-1 .post p a:hover {
	color: #252525;
}

.post-1 .post h1 {
	margin: 0 0 20px 0;
	padding: 5px 0 0 0;
}

.post-1 .overview {
	border-bottom: 1px solid #e4e4e4;
	width: 640px;
	margin: 0 auto 30px auto;
}

.post-1 .overview .items {
	background: #fff;
	padding: 20px;
}

.post-1 .overview .items .row {
	margin: 15px 0 0 0;
	padding: 15px 0 0 0;
	border-top: 1px solid #e4e4e4;
}

.post-1 .overview .items .row:first-child {
	padding: 0;
	margin: 0;
	border: none;
}

.post-1 .overview .items label {
	width: 120px;
	float: left;
	font-weight: 400;
	color: #999;
}

.post-1 .overview .items .content {
	width: 480px;
	float: left;
}

.post-1 .overview .items .summary .content {
	font-weight: 700;
}

.post-1 .overview .items .list .content ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-1 .overview .items .list .content li {
	padding: 2px 0;
}

.post-1 .overview .items .list .content li:before {
	font-family: FontAwesome;
	font-size: 11px;
	line-height: 11px;
	vertical-align: top;
	margin: 5px 6px 0 0;
	display: inline-block;
}

.post-1 .overview .items .list.positives .content {
	color: #199a00;
}

.post-1 .overview .items .list.positives .content li:before {
	content: "\f067";
	color: #199a00;
}

.post-1 .overview .items .list.negatives .content {
	color: #f3002e;
}

.post-1 .overview .items .list.negatives .content li:before {
	content: "\f068";
	color: #f3002e;
}

.post-1 .overview .items .rating .item {
	display: table;
}

.post-1 .overview .items .rating .content span {
	display: block;
	float: left;
	height: 10px;
	width: 420px;
	background: #e4e4e4;
	margin: 5px 0 0 0;
}

.post-1 .overview .items .rating .content span s {
	background: #ff5732;
	display: block;
	float: left;
	height: 10px;
}

.post-1 .overview .items .rating .content p {
	float: right;
	margin: -3px 0 0 0;
}

.post-1 .overview .items .rating .content p:first-letter {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.post-1 .overview .items .tags .content {
	padding: 5px 0 0 0;
}

.post-1 .post .caption {
	position: relative;
	width: 640px;
	margin: 0 auto 30px auto;
}

.post-1 .post .caption span {
	font-size: 18px;
	font-weight: 900;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	box-shadow: 0 -150px 100px -80px rgba(0, 0, 0, 0.8) inset;
	width: 100%;
	height: 100%;
	vertical-align: baseline;
}

.post-1 .post .caption span s {
	position: absolute;
	bottom: 20px;
	left: 25px;
	text-decoration: none;
}

.wp-caption {
	position: relative;
	max-width: 100%;
	margin: 0 auto 30px auto;
	box-shadow: none;
}

.wp-caption img {
	max-width: 100%;
	height: auto;
}

.wp-caption-text {
	font-size: 18px !important;
	font-weight: 900;
	position: absolute;
	bottom: 20px;
	left: 25px;
	color: #fff;
	padding: 0 25px 0 0;
	margin: 0 !important;
	z-index: 1000;
}

.wp-caption:after {
	position: absolute;
	box-shadow: 0 -150px 100px -80px rgba(0, 0, 0, 0.8) inset;
	width: 100%;
	height: 100%;
	content: "";
	bottom: 0;
	left: 0;
}

.wp-caption span s {
	position: absolute;
	bottom: 20px;
	left: 25px;
	text-decoration: none;
}

.post-1 .post .gallery-widget {
	width: 100%;
	height: 128px;
	position: relative;
	overflow: hidden;
	color: #fff;
	float: left;
	margin: 0 0 30px 0;
}

.post-1 .post .gallery-widget .background {
	width: 100%;
	height: 128px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.post-1 .post .gallery-widget .background img {
	width: 128px;
	height: 128px;
	float: left;
}

.post-1 .post .gallery-widget a {
	color: #fff;
}

.post-1 .post .gallery-widget a:hover {
	color: #ff5732;
}

.post-1 .post .gallery-widget p {
	margin: 0;
	line-height: 18px;
}

.post-1 .post .gallery-widget .title {
	width: 100%;
	bottom: 0;
	position: absolute;
	padding: 0 20px 15px 20px;
	margin: 0;
}

.post-1 .post .gallery-widget h2 {
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
	margin: 0 0 3px 0;
}

.post-1 .post .gallery-widget .overlay {
	width: 100%;
	height: 128px;
	transition: all 0.3s;
	position: relative;
	z-index: 100;
	box-shadow: rgba(0, 0, 0, 0.8) 0 -140px 50px -80px inset;
}

.post-1 .post .gallery-widget .intro {
	position: absolute;
	right: 18px;
	bottom: 15px;
}

.full-width .post-1 .post h1 {
	text-align: center;
	font-size: 38px;
	line-height: 42px;
}

.full-width .post-1 {
	width: 810px;
	margin: 30px auto 0 auto;
}

.full-width .post-1 .title {
	padding: 0 0 20px 0;
	text-align: center;
}

.full-width .post-1 .title h2 {
	font-size: 38px;
	line-height: 42px;
}

.full-width .post-1 .post p {
	font-size: 16px;
	line-height: 24px;
}

.full-width .post-1 .post .gallery-widget {
	width: 640px;
	margin: 0 85px 30px 85px;
}

.full-width .post-1 .post .gallery-widget .title {
	text-align: left;
}

.full-width .post-1 .post .gallery-widget h2 {
	font-size: 14px;
	line-height: 18px;
}

.full-width .post-1 .post .gallery-widget p {
	line-height: 18px;
}

.post-1-full-width-image {
	position: relative;
	z-index: 10;
	top: 0;
	height: 415px;
	width: 100%;
	margin: -82px 0 0 0;
}

.post-1-full-width-image .stars {
	margin: 0 0 25px 0;
}

.post-1-full-width-image > div {
	position: absolute;
	bottom: 25px;
	display: block;
	width: 100%;
	text-align: center;
}

.post-1-full-width-image .twitter {
	display: inline-block;
	margin: 0 20px 0 0;
}

.post-1-full-width-image .facebook {
	display: inline-block;
}

.post-1-full-width-image.no-image {
	background: none !important;
	height: 150px !important;
}

.post-1-full-width-image.no-image > div {
	bottom: 0 !important;
}

.post-1-navbar {
	top: 603px;
	left: 0;
	position: absolute;
	background: #fff;
	box-shadow: 0 -1px 0 #e4e4e4 inset;
	border-top: 3px solid #e4e4e4;
	padding: 0 20px 20px 20px;
	z-index: 20;
}

.post-1-navbar.full-width {
	top: 636px;
}

@media only screen and (min-width: 768px) and (max-width: 1320px) {
	.post-1-navbar.full-width {
		top: inherit;
	}
}

.post-1-navbar li {
	padding: 0;
	margin: 0;
}

.post-1-navbar li a {
	min-width: 115px;
	padding: 15px 25px 15px 0;
	margin: 0;
	border-bottom: 1px solid #e4e4e4;
}

.post-1-navbar li a:hover {
	background: none;
}

.post-1-navbar li a:after {
	font-family: FontAwesome;
	content: "\f105";
	color: #999;
	font-size: 11px;
	line-height: 11px;
	position: absolute;
	right: 0;
	top: 20px;
}

.post-1-navbar li a:hover:after {
	color: #ff5732;
}

.post-1-navbar li.active a {
	font-weight: 900;
}

.post-1-navbar li.active a:after {
	color: #252525;
}

.post-1-navbar li.active a:hover:after {
	color: #ff5732;
}

.post-1-navbar li:last-child a {
	border: none;
	padding: 15px 25px 0 0;
}

@media only screen and (min-width: 768px) and (max-width: 1320px) {

	.post-1-navbar {
		height: 38px;
		top: inherit;
		bottom: 0;
		position: fixed;
		width: 100%;
		padding: 0;
		box-shadow: none;
		z-index: 10000;
	}

	.post-1-navbar .nav {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.post-1-navbar li {
		display: table-cell;
		text-align: center;
		width: 50%;
	}

	.post-1-navbar li a {
		min-width: inherit;
		padding: 0;
		margin: 8px 0 0 0;
		border-bottom: none;
		border-right: 1px solid #e4e4e4;
	}

	.post-1-navbar.affix {
		top: inherit !important;
	}

	.post-1-navbar.affix, .post-1-navbar.affix-bottom {
		top: inherit !important;
	}

	.post-1-navbar li:last-child a {
		border: none;
		padding: 0;
	}

	.post-1-navbar li a:after {
		font-family: FontAwesome;
		content: "\f105";
		color: #999;
		font-size: 11px;
		line-height: 11px;
		position: absolute;
		right: inherit;
		margin: 3px 0 0 12px;
		top: inherit;
		transform: rotate(-90deg);
	}

}

.post-1 .post h3 {
	font-size: 22px;
	font-weight: 900;
	margin: 25px 0;
}

.post-1 .post h4 {
	font-size: 18px;
	font-weight: 900;
	margin: 25px 0;
}

.post-1 .post ul {
	font-size: 14px;
	font-weight: 600;
	line-height: 26px;
	list-style: none;
	padding: 0;
	margin: 0 0 25px 0;
}

.post-1 .post ul li {
	list-style: none;
	padding: 0;
}

.post-1 .post ul li:before {
	font-family: FontAwesome;
	content: "\f058";
	margin: 0 10px 0 0;
}

.post-1 .post ul.plus li {
	color: #199a00;
}

.post-1 .post ul.plus li:before {
	font-family: FontAwesome;
	content: "\f055";
}

.post-1 .post ul.minus li {
	color: #f3002e;
}

.post-1 .post ul.minus li:before {
	font-family: FontAwesome;
	content: "\f056";
}

.post-1 .post ul.hollow li {
	color: #999;
}

.post-1 .post ul.hollow li:before {
	font-family: FontAwesome;
	content: "\f10c";
}

.post ul ul {
	margin: 20px 0 20px 20px !important;
}

.post-1 .widget-tabs .items {
	padding: 20px 20px 0 20px;
}

.post ol {
	padding: 0 0 0 20px;
	font-size: 14px;
	font-weight: 600;
	line-height: 26px;
	margin: 0 0 25px 0;
}

.post ol ol {
	margin: 20px 0 20px 20px !important;
}

.post address {
	font-size: 18px;
	line-height: 28px;
}

.post acronym {
	font-style: italic;
	font-weight: 600;
}

.post big {
	font-size: 28px;
}

.post cite {
	color: #999;
	font-style: italic;
}

.post code {
	color: #ff5732;
	background: #fff;
	font-weight: 600;
	border-bottom: 1px solid #ebebeb;
}

.post kbd {
	font-weight: 600;
}

.post pre {
	color: #ff5732;
	background: #fff;
	font-weight: 600;
	border: 0;
	border-bottom: 1px solid #ebebeb;
	border-radius: 0;
	padding: 20px 25px;
	margin: 0 0 20px 0;
}

.post q {
	font-size: 22px !important;
	line-height: 32px !important;
	margin: 0 !important;
	font-weight: 100;
	border-left: 3px solid #ff5732;
	padding: 0 0 0 25px
}

.about-author {
	width: 640px;
	margin: 0 auto 30px auto;
}

.about-author .title-default {
	margin: 0 0 20px 0;
}

.about-author .about h2 {
	font-size: 14px;
	line-height: 16px;
	font-weight: 900;
	margin: 0 0 13px 0;
}

.about-author .about h2 span {
	font-size: 11px;
	font-weight: 400;
	color: #999;
	margin: 0 0 0 7px;
}

.text-1-2 {
	display: table;
	margin: 0 0 25px 0;
}

.text-1-2 p {
	width: 50%;
	float: left;
	box-sizing: border-box;
	margin: 0 !important;
}

.text-1-2 p:first-of-type {
	padding: 0 15px 0 0;
}

.text-1-2 p:last-of-type {
	padding: 0 0 0 15px;
}

.text-1-3 {
	display: table;
	margin: 0 0 25px 0;
}

.text-1-3 p {
	width: 33%;
	float: left;
	box-sizing: border-box;
	margin: 0 !important;
}

.text-1-3 p:first-of-type {
	padding: 0 15px 0 0;
}

.text-1-3 p:nth-child(2) {
	padding: 0 15px;
}

.text-1-3 p:last-of-type {
	padding: 0 0 0 15px;
}

.about-author .about img {
	float: left;
	margin: 0 20px 0 0;
}

.about-author .about .social {
	padding: 18px 0 0 0;
}

.about-author .about .social a {
	color: #999;
}

.about-author .about .social a:hover {
	color: #ff5732;
}

.about-author .about .social i {
	font-size: 17px;
	margin: 0 2px;
}

.post table {
	width: 100%;
	margin: 0 0 35px 0;
}

.post table td {
	border-bottom: 1px solid #e4e4e4;
	padding: 10px;
}

.post table thead th {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 15px;
	border-bottom: 3px solid #e4e4e4;
	color: #999;
	padding: 10px;
}

.post table tbody th {
	border-bottom: 1px solid #e4e4e4;
	padding: 10px;
}

.post dl {
	margin: 35px 0;
	padding: 0 30px;
	border-left: 3px solid #ff5732;
}

.post dl dt {
	font-size: 15px;
	font-weight: 900;
}

.post dl dd {
	margin: 0 0 20px 0;
}

.sticky:after {
	font-family: FontAwesome;
	content: "\f02e";
	color: #ff5732;
	font-size: 32px;
	position: absolute;
	right: 20px;
	top: 5px;
}

.sticky h2 a {
	padding: 0 20px 0 0;
	display: inline-block;
}


/* Comments */

.comments {
	width: 640px;
	margin: 0 auto 30px auto;
}

.comments .title-default {
	margin: 0 0 20px 0;
}

.comments .legend-default {
	margin: -1px 0 0 0;
	float: left;
}

.comments ul {
	padding: 0;
	list-style: none;
}

.comments ul > li {
	border-top: 1px solid #e4e4e4;
	position: relative;
}

.comments ul > li:first-child {
	border: none;
}

.comments ul > li:first-child .item {
	padding: 0 0 20px 0;
}

.comments ul ul {
	padding: 0 0 20px 58px;
}

.comments ul ul li .item {
	padding: 0 !important;
}

.comments .item {
	display: table;
	padding: 20px 0;
}

.comments .item.author p {
	font-weight: 700;
}

.comments .item.author .tag-default {
	float: right;
	margin: 2px 10px 0 0;
}

.comments .comment {
	display: table-cell;
	vertical-align: top;
}

.comments .item .image {
	display: table-cell;
	vertical-align: top;
	padding: 0 20px 0 0;
}

.comments .item .image img {
	width: 38px;
	height: 38px;
}

.comments .item .info {
	margin: -2px 0 9px 0;
	display: table;
	width: 100%;
	position: relative;
}

.comments .item h2 {
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
	float: left;
	margin: 0 10px 0 0;
}

.comments .item h2 a {
	color: #25252525;
}

.comments .item .nr {
	font-size: 11px;
	color: #999;
	float: right;
	margin: -2px 0 0 0;
}

.comments .item p {
	margin: 0;
}

.comments .item .reply-link {
	margin: 9px 0 0 0;
}

.comments .no-comments {
	padding: 20px 0 35px 60px;
	position: relative;
	color: #999;
	font-size: 11px;
	margin: 0 auto;
	display: table;
}

.comments .no-comments:before {
	font-family: FontAwesome;
	content: "\f0e6";
	color: #999;
	font-size: 44px;
	position: absolute;
	left: 0;
	top: 27px;
}

.comments .no-comments p:first-child {
	font-size: 20px;
	margin: 0 0 5px 0;
}

.add-comment form p {
	margin: 0;
	padding: 0;
	display: table;
}

.add-comment form > p {
	margin: 0 0 10px 0;
}

.add-comment form > p input {
	width: 206px;
	margin: 0 11px 0 0;
	float: left;
}

.add-comment form > p input:last-child {
	margin: 0;
}

.add-comment textarea {
	width: 640px;
	height: 100px;
}

.add-comment .btn-default span:after {
	font-family: FontAwesome;
	content: "\f075";
	color: #999;
	font-size: 15px;
	line-height: 15px;
	margin: 0 0 0 10px;
}

.add-comment .btn-default:hover span:after {
	color: #252525;
}


/* Galleries */

.latest-galleries .items .item {
	padding: 20px;
}

.latest-galleries .items .item .gallery-item:last-child {
	margin: 0;
}

.latest-galleries .gallery-item {
	width: 218px;
	height: 218px;
	position: relative;
	overflow: hidden;
	color: #fff;
	float: left;
	margin: 0 19px 0 0;
}

.latest-galleries .gallery-item .background {
	width: 218px;
	height: 218px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

}

.latest-galleries .gallery-item .background img {
	width: 109px;
	height: 109px;
	float: left;
}

.latest-galleries .gallery-item a {
	color: #fff;
}

.latest-galleries .gallery-item a:hover {
	color: #ff5732;
}

.latest-galleries .gallery-item p {
	margin: 0 0 0 0;
}

.latest-galleries .gallery-item .title {
	bottom: 0;
	position: absolute;
	padding: 0 20px 15px 20px;
}

.latest-galleries .gallery-item .title .legend-default {
	display: block;
	padding: 5px 0 0 0;
}

.latest-galleries .gallery-item h2 {
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
	margin: 0 0 3px 0;
}

.latest-galleries .gallery-item .overlay {
	width: 218px;
	height: 218px;
	transition: all 0.3s;
	position: relative;
	z-index: 100;
	box-shadow: rgba(0, 0, 0, 0.8) 0 -150px 90px -50px inset;
}

.latest-galleries .gallery-item .intro {
	padding: 22px 0 0 0;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.07s;
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 -50px 0;
}

.latest-galleries .gallery-item .intro .more-link {
	margin: 10px 0 0 0;
}

.latest-galleries .gallery-item:hover .overlay {
	background: rgba(0, 0, 0, 0.6);
}

.latest-galleries .gallery-item:hover .intro {
	padding: 0;
	margin: 0 !important;
}

.latest-galleries .carousel-control.left {
	position: absolute;
	top: 30px;
	left: 5px;
	padding: 16px 0 0 0;
}

.latest-galleries .carousel-control.right {
	position: absolute;
	top: 30px;
	right: 5px;
	padding: 16px 0 0 0;
}

.photo-galleries .items {
	padding: 20px 0 20px 0;
	margin: 0 0 5px 0;
	border-bottom: 1px solid #e4e4e4;
	overflow: hidden;
	width: 100%;
}

.photo-galleries .gallery-item-wrapper {
	width: 228px;
	position: relative;
	float: left;
	margin: 0 19px 0 0;
}

.photo-galleries .gallery-item-wrapper h2 {
	margin: 15px 0 6px 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
	float: left;
	width: 100%;
}

.photo-galleries .gallery-item {
	width: 228px;
	height: 228px;
	margin: 0;
}

.photo-galleries .gallery-item .title {
	width: 228px;
	text-align: center;
	bottom: 0;
}

.photo-galleries .gallery-item:hover .intro {
	padding: 0;
	margin: -113px 0 0 0 !important;
}

.photo-galleries .gallery-item .overlay {
	width: 228px;
	height: 228px;
	box-shadow: none;
}

.photo-galleries .gallery-item .background {
	width: 228px;
	height: 228px;
}

.photo-galleries .gallery-item .background img {
	width: 114px;
	height: 114px;
	float: left;
}

.photo-galleries .items .gallery-item-wrapper:last-child {
	margin: 0;
}

.photo-galleries .pages {
	margin: 30px 0;
}

.gallery-item-open {
	text-align: center;
	width: 100%;
	padding: 20px 0 30px 0;
}

.gallery-item-open .image {
	display: table;
	position: relative;
	margin: 0 auto;
}

.gallery-item-open .image span {
	font-size: 18px;
	font-weight: 900;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	box-shadow: 0 -150px 100px -80px rgba(0, 0, 0, 0.8) inset;
	width: 100%;
	height: 100%;
	vertical-align: baseline;
}

.gallery-item-open .image span s {
	position: absolute;
	bottom: 20px;
	left: 25px;
	text-decoration: none;
}

.gallery-item-open .thumbs {
	padding: 20px 0 0 0;
	margin: 0 auto 30px auto;
	display: table;
	box-shadow: 0 -3px 0 #e4e4e4 inset;
}

.gallery-item-open .thumbs a {
	padding: 0 0 14px 0;
	margin: 0 10px 0 0;
	float: left;
}

.gallery-item-open .thumbs a:last-child {
	margin: 0;
}

.gallery-item-open .thumbs .active, .gallery-item-open .thumbs a:hover {
	box-shadow: 0 -3px 0 #ff5732 inset;
}

.gallery-item-open .thumbs img {
	float: left;
}

.gallery-item-open h2 {
	margin: 15px 0 6px 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: 900;
}

.gallery-item-open .intro {
	width: 800px;
	padding: 20px 0 0 0;
	margin: 0 auto;
}

.gallery-item-open .control {
	font-size: 90px;
	position: absolute;
	width: 970px;
	margin: 0 auto;
}

.gallery-item-open .control a {
	color: #999;
}

.gallery-item-open .control a:hover {
	color: #ff5732;
}

.gallery-item-open .control .left {
	float: left;
	margin: 0 0 0 -80px;
}

.gallery-item-open .control .right {
	float: right;
	margin: 0 -80px 0 0;
}

.slider-item-wrapper {
	width: 100%;
}

/* Footer */

.footer {
	padding: 30px;
	background: #252525;
	margin: 0 auto 25px auto;
	color: #999;
}

.footer a {
	color: #fff;
}

.footer a:hover {
	color: #ff5732;
}

.footer .title-default {
	box-shadow: #5e5e5e 0 -3px 0 inset;
	margin: 0 0 20px 0;
}

.footer .widget {
	width: 284px;
	margin: 0 29px 0 0;
	float: left;
}

.footer .widget:last-child {
	margin: 0;
}

.footer .widget.about .text {
	text-align: center;
}

.footer .widget.about .logo {
	padding: 5px 0 20px 0;
}

.footer .widget.page-map .table td {
	border-color: #5e5e5e;
}

.footer .widget.tags .tag-1 {
	border: 1px solid #5e5e5e;
}

.footer .widget.tags .tag-1 s {
	border-left: 1px solid #5e5e5e;
	background: rgba(255, 255, 255, 0.1);
}


/* Copyright */

.copyright {
	padding: 0 0 12px 0;
	margin: 0 auto 20px auto;
	color: #999;
	font-size: 11px;
	box-shadow: #e4e4e4 0 -3px 0 inset;
}

.copyright a {
	color: #999;
}

.copyright a:hover {
	color: #ff5732;
}

.copyright i {
	font-size: 17px;
	margin: 0 2px;
}

.copyright .left {
	float: left;
}

.copyright .right {
	float: right;
}

.copyright ul {
	padding: 0;
}

.copyright li {
	float: left;
	padding: 0 0 0 10px;
	list-style: none;
}

.copyright li:after {
	content: "●";
	margin: 0 0 0 10px;
}

.copyright li:last-child:after {
	display: none;
}


/* Full width slider */

.slider-full-width {
	width: 100%;
	height: 530px;
	background: red;
	position: relative;
	z-index: 10;
	margin: 0 0 30px 0;
}

.slider-full-width.position-menu {
	margin: -82px 0 30px 0;
}

.slider-full-width ul, .slider-full-width li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	height: 100%;
}

.slider-full-width li {
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}

.slider-full-width .title {
	width: 970px;
	margin: 0 auto;
}

.slider-full-width .title > div {
	position: absolute;
	bottom: 80px;
}

.slider-full-width .title h2 {
	width: 485px;
	font-size: 32px;
	line-height: 50px;
	font-weight: 100;
	color: #fff;
	margin: 0;
}

.slider-full-width .title h2 a {
	background: rgba(0, 0, 0, 0.8);
	padding: 5px;
}

.slider-full-width .title p {
	float: left;
	background: rgba(255, 255, 255, 0.9);
	padding: 1px 5px;
}

.video_source{
    height:350px;
    width:100%;
}


.lbuttonK { height: 100px; width: 250px; margin: 0 20px 20px 0; background: #eee; overflow: hidden; }



#icontainer{
	left: 517px !important;
	top: 452px !important;
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
	#icontainer{
		left: 517px !important;
		top: 305px !important;
	}
}




@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

	img { max-width: 100%; }

	#icontainer{
		left: 245px !important;
		top: 450px !important;
		margin-left: 0px !important;
		margin-top: 0px !important;
	}

}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

	img { max-width: 100%; }

	#icontainer{
		left: 215px !important;
		top: 449px !important;
		margin-left: 26px !important;
		margin-top: 0px !important;
	}
}




@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
	#icontainer {
		margin-left: 182px;
	}
}


@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {

}


@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
	#icontainer {
		left: 0px !important;
		top: 124px !important;
		margin-left: 257px !important;
		margin-top: 323px !important;
	}
}

@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {
	#icontainer{
		left: 0px !important;
		top: 0px !important;
		margin-left: 22px !important;
		margin-top: 323px !important;
	}

}


@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {
	img { max-width: 100%; }
	#icontainer {
		left: 272px !important;
		top: 450px !important;
		margin-top: 304px;
		margin-left: 274px;
	}
}


@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
	img { max-width: 100%; }
	#icontainer {
		left: 272px !important;
		top: 451px !important;

	}

}


@media only screen
and (min-device-width: 412px)
and (max-device-width: 732px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	img { max-width: 100%; }
	#icontainer {
		left: 310px !important;
		top: 304px !important;
	}
}

@media only screen
and (min-device-width: 412px)
and (max-device-width: 732px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
	img { max-width: 100%; }
	#icontainer {
		left: 312px !important;
		top: 451px !important;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 732px) and (min-device-width: 412px) and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	img { max-width: 100%; }
	#icontainer {
		left: 312px !important;
		top: 451px !important;
	}
}




@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
	img { max-width: 100%; }
	#icontainer {
		margin-left: 275px;
	}
}





@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
	img { max-width: 100%; }
	#icontainer {
		left: 520px !important;
		top: 452px !important;
	}
}




