{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="text-center" style="color: #b40000">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <h3 class="form-title">Se connecter</h3>


    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9" for="username">{{ 'security.login.username'|trans }}</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input placeholder="{{ 'security.login.username'|trans }}" class="form-control placeholder-no-fix" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>

        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9" for="password">{{ 'security.login.password'|trans }}</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input placeholder="{{ 'security.login.password'|trans }}" class="form-control placeholder-no-fix" type="password" id="password" name="_password" required="required" />
        </div>



            <div class="form-actions">
                <label for="remember_me" class="rememberme mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <span></span>
                    {{ 'security.login.remember_me'|trans }}
                </label>
                <br>
                <input class="btn green pull-right" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

            </div>

            </div>
        </div>






</form>
