<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.1
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>Metronic Admin Theme #4 | Admin Dashboard 2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Preview page of Metronic Admin Theme #4 for statistics, charts, recent events and reports"
          name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->


    {% stylesheets

    '@AppAdminBundle/Resources/public/css/bootstrap.min.css'
    '@AppAdminBundle/Resources/public/css/bootstrap-switch.min.css'
    '@AppAdminBundle/Resources/public/css/daterangepicker.min.css'
    '@AppAdminBundle/Resources/public/css/morris/morris.css'
    '@AppAdminBundle/Resources/public/css/fullcalendar/fullcalendar.min.css'
    '@AppAdminBundle/Resources/public/css/components.min.css'
    '@AppAdminBundle/Resources/public/css/theme/layout.min.css'
    '@AppAdminBundle/Resources/public/css/theme/default.min.css'
    '@AppAdminBundle/Resources/public/css/theme/custom.min.css'
    filter='cssrewrite, ?yui_css' output='compiled/css/base_temp.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheets %}
    {% endblock %}
    <!-- END HEAD -->

<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
{{ render(controller('AppAdminBundle:Menu:header')) }}
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->

        {{ render(controller('AppAdminBundle:Menu:menuLeft', {'request': app.request})) }}

        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
       {% block content %}
        {% endblock content %}
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>
        <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
            <div class="page-quick-sidebar">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab"> Users
                            <span class="badge badge-danger">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-target="#quick_sidebar_tab_2" data-toggle="tab"> Alerts
                            <span class="badge badge-success">7</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> More
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-bell"></i> Alerts </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-info"></i> Notifications </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-speech"></i> Activities </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-settings"></i> Settings </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">

                </div>
            </div>
        </div>
        <!-- END QUICK SIDEBAR -->
    </div>
</div>



<script src="https://use.fontawesome.com/0f216bef24.js"></script>

{% javascripts

'@AppAdminBundle/Resources/public/js/jquery.min.js'
'@AppAdminBundle/Resources/public/js/respond.min.js'
'@AppAdminBundle/Resources/public/js/excanvas.min.js'
'@AppAdminBundle/Resources/public/js/ie8.fix.min.js'
'@AppAdminBundle/Resources/public/js/bootstrap.min.js'
'@AppAdminBundle/Resources/public/js/jquery.slimscroll.min.js'
'@AppAdminBundle/Resources/public/js/jquery.blockui.min.js'
'@AppAdminBundle/Resources/public/js/bootstrap-switch.min.js'
'@AppAdminBundle/Resources/public/js/app.min.js'
'@AppAdminBundle/Resources/public/js/layout.min.js'
'@AppAdminBundle/Resources/public/js/quick-sidebar.min.js'
'@AppAdminBundle/Resources/public/js/quick-nav.min.js'



filter='?yui_js' output='bundles/appadmin/js/base_script.js' %}


<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}
{% endblock %}
<!-- END THEME LAYOUT SCRIPTS -->
</body>
