<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script id="facebook-jssdk" async="" src="https://connect.facebook.net/fr_FR/all.js"></script>
</head>
<body>
<div id="fb-root" class=" fb_reset"></div>

<script type="text/javascript">


    window.fbAsyncInit = function(){

        FB.init({ appId:'621978904541692', status:true,  cookie:true, xfbml:true});
        //FB.init({ status:true,  cookie:true, xfbml:true});
        FB.getLoginStatus(function(response) {
            if (response.status != "unknown") {

                parent.letsgo();

                //console.log("letsgo");
                //golk(connectedis);
                $("html").text("trueconnect");
            } else {
                connectedis=false;
                //document.innerHTML = "false";
                $("html").text("falseconnect");
            }
        });
    };

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "https://connect.facebook.net/fr_FR/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));

</script>
</body>
</html>