<div id="icontainer">
    <iframe Border="0" src="{{ url.domaine }}" scrolling="no" frameborder="0" style="cursor:default; border:none; overflow:hidden; width:50px; height:23px;margin-top:20px;margin-left:36px;" allowTransparency="true" id="fbframe" name="fbframe"></iframe>
</div>

<script type="text/javascript">

    var crossdomain_iframe = document.getElementById("fbframe");
    crossdomain_iframe.src = crossdomain_iframe.src + "?root=" +encodeURI('http://myfunnybuzz.com/lk/resources/cross/');
    $('#myModal').modal('show') ;

</script>

