{% extends '::base.html.twig' %}

{% block content %}

    <div class="container homepage-content">

        <div class="main-content-column-1">

            <!-- Blog list 1 -->
            <div class="blog-block-1">
                <div class="title-default">
                    <a href="" class="active">Derniers articles</a>
                </div>

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- responsive ban -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-5368871968051857"
                     data-ad-slot="4111086325"
                     data-ad-format="link"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

                <div class="items" id="scrollItems">
                    {% for art in articles %}
                    <div  data-id="{{ art.id }}" class="post-item post-58 post type-post status-publish format-standard has-post-thumbnail hentry  article-ajax">
                        <div class="image">
                            <a href="{{ path('app_app_article',{'slug':art.url}) }}"><img src="{{ urlS3 }}/180x180/{{ art.imageCover.url }}" alt="{{ art.title }}"></a>
                        </div>
                        <div class="title">
                            <h2>
                                <a href="{{ path('app_app_article',{'slug':art.url}) }}">{{ art.title }}</a>
                            </h2>
                            <p>

                                <span class="legend-default">
        <i class="fa fa-clock-o"></i><span>{{ art.date|date('d/m/Y') }}</span>
         <a href="#" class="comment-link"><i class="fa fa-eye"></i>{{ art.stats.nbView }}</a>     </span>
                            </p>
                        </div>
                        <div class="intro">
                            <p>{{ art.description }}</p>
                            <a href="{{ path('app_app_article',{'slug':art.url}) }}" class="more-link">Lire</a>
                        </div>
                    </div>

                    {% endfor %}
                    </div>
            </div>
        </div>

        <div class="main-sidebar">

            <div id="goliath_sidebar_banner-3" class="sidebar-item clearfix goliath_sidebar_banner">
                <div class="banner-300x250">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- carre 300x250 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:300px;height:250px"
                         data-ad-client="ca-pub-5368871968051857"
                         data-ad-slot="5867021122"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

            </div> <!-- After widget close div -->

            <div style="position:relative" id="goliath_sidebar_post_tabs-2" class="sidebar-item clearfix goliath_sidebar_post_tabs">
                <!-- Tabs -->
                <div class="widget-tabs switchable-tabs mobile">



                    <div class="tabs-content">


                        <div class="items">
                            {% for article in mostRank %}
                                <div class="post-item" data-id="{{ article.id }}" data-overlay="1"
                                     data-overlay-excerpt="{{ article.description }}"
                                     data-overlay-url={{ urlS3 }}/180x180/{{ article.imageCover.url }}">
                                    <div class="inner-wrapper">
                                        <div class="title-image-row">
                                            <div class="image">

                                                <a href="{{ path('app_app_article',{'slug':article.url}) }}"><img
                                                            src="{{ urlS3 }}/70x70/{{ article.imageCover.url }}"
                                                            alt="{{ article.description }}"></a>
                                            </div>
                                            <div class="title">
                                                <h2>
                                                    <a href="{{ path('app_app_article',{'slug':article.url}) }}">{{ article.title }}</a>
                                                </h2>
                                                <p>

                                                <span class="legend-default">
        <i class="fa fa-clock-o"></i>{{ article.date|date('d/m/Y') }}       <a
                                                            href="#"
                                                            class="comment-link"><i class="fa fa-eye"></i>{{ article.stats.nbView }}</a>     </span>
                                                </p></div>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                                             </div>


                    </div>
                </div>

            </div> <!-- After widget close div -->


        </div>

    </div>

{% endblock content %}

{% block script %}

    {% javascripts

        'assets/js/infinite.scroll.js'
    %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
