{% extends 'AppAdminBundle::base.html.twig' %}

    {% block stylesheets %}

        {% stylesheets

        '@AppAdminBundle/Resources/public/css/article/edit/datatables.min.css'
        '@AppAdminBundle/Resources/public/css/article/edit/datatables.bootstrap.css'
        filter='cssrewrite, ?yui_css' output='compiled/css/ajout-article.css'

        %}

        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}


{% block page_wrapper %}

    {% block content %}

        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Publications
                        <small>Les publications en attente</small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->
                <!-- END PAGE TOOLBAR -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->

            <div class="blog-page blog-content-2">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{{ path('app_publi_add') }}">
                            <button id="sample_editable_1_new" class="btn sbold green"> Ajouter une publication
                                <i class="fa fa-plus"></i>
                            </button>
                            </a>
                        </div>
                    </div>

                </div>

                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                    <tr>

                        <th> Texte </th>
                        <th> Date de publication </th>
                        <th> Nombre de page concernées </th>
                        <th> Envoyé a facebook </th>
                        <th> Actions </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for pub in publis %}
                        <tr>
                    <td> {{ pub.text }} </td>
                    <td>
                        {{ pub.date|date('d/m/y H:i') }}
                    </td>
                    <td>
                        {{ pub.page|length }}
                    </td>
                    <td class="center"> {% if pub.isSentFacebook %}Oui {% else %}Non {% endif %} </td>

                    <td>
                        <div class="btn-group">
                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-left" role="menu">
                                <li>
                                    <a href="{{ path('send_facebook_publi',{'publi':pub.id}) }}">
                                        Envoyer à Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('edit_publi',{'publi':pub.id}) }}">
                                        Editer
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('delete_publi',{'publi':pub.id}) }}">
                                        Suprimer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



            <!-- END CONTENT BODY -->
        </div>
    {% endblock content %}
{% endblock page_wrapper %}

            {% block javascripts %}

                {% javascripts

                '@AppAdminBundle/Resources/public/js/articles/edit/datatables.min.js'
                '@AppAdminBundle/Resources/public/js/articles/edit/datatables.bootstrap.js'
                '@AppAdminBundle/Resources/public/js/articles/edit/table-datatables-managed.min.js'


                filter='?yui_js' output='compiled/js/article_edit.js' %}


                <script src="{{ asset_url }}"></script>

                {% endjavascripts %}


            {% endblock %}