<!DOCTYPE html>
<html>

<head>

    {% block meta %}
    <title>GOLIATH - Le meilleur du buzz</title>
        <meta name="description" content="My Funny Buzz est un site rassemblant tous les contenus attractif du web sur une même page. Nous selectionnerons pour vous tous les soirs les meilleurs contenus du web.
La publicité nous permet de faire vivre le site. Nous vous remercions donc de bloquer votre bloqueur durant le visionnage." />
    {% endblock meta %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,900,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:900,100,300,400">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% stylesheets
    'assets/css/bootstrap.css'
    'assets/css/font-awesome.css'
    'assets/css/goliath.css'
    'assets/css/goliath-tablet.css'
    'assets/css/goliath-phone.css'

    filter='cssrewrite, ?yui_css' output='compiled/css/base_goliath.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block og %}
        <meta property="fb:app_id" content="1495860470733476">
        <meta property="og:url" content="http://www.goliath-buzz.com">
        <meta property="og:title" content="Goliath Buzz : Le meilleur du buzz">
        <meta property="og:description" content="Nous réccupérons pour vous tous les articles qui font le buzz">
        <meta property="og:image" content="http://www.goliath-buzz.com/web/assets/img/logo-goliath-1.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% endblock %}

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5368871968051857",
            enable_page_level_ads: true
        });
    </script>

</head>

<body class="preload">


<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4&appId=1495860470733476";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<div id="particles"></div>
{{ render(controller('AppAppBundle:Menu:Header')) }}

{{ render(controller('AppAppBundle:Menu:MainMenu', {'request': app.request})) }}

{% block content %}
{% endblock content %}
{{ render(controller('AppAppBundle:Menu:footer', {'request': app.request})) }}


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85606772-1', 'auto');
    ga('send', 'pageview');

</script>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#eb6c44",
                    "text": "#ffffff"
                },
                "button": {
                    "background": "#0f0000",
                    "text": "#ffffff"
                }
            },
            "theme": "edgeless",
            "position": "bottom-left",
            "content": {
                "message": "My Funny Buzz utilise des cookies pour une experience utilisateur optimale !",
                "dismiss": "j'accepte ! ",
                "link": "En savoir plus ! "
            }
        })});
</script>

{% javascripts
'bundles/fosjsrouting/js/router.js'
'assets/js/jquery-1.11.1.js'
'assets/js/bootstrap.js'
'assets/js/bootstrap-hover-dropdown.js'
'assets/js/jquery.particleground.js'
'assets/js/jquery.cycle2.min.js'
'assets/js/jquery.cycle2.scrollVert.js'
'assets/js/jquery.cycle2.swipe.min.js'
'assets/js/jquery.hoverintent.min.js'
'assets/js/jquery.inview.js'
'assets/js/jquery.ui.core.min.js'
'assets/js/jquery.ui.effect.min.js'
'assets/js/jquery.ui.effect-size.min.js'
'assets/js/jquery.ui.effect-slide.min.js'
'assets/js/goliath.js'
 output='compiled/js/goliath_base.js'
%}



<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% block script %}
{% endblock %}


<script type='text/javascript'>
    (function(){
        var spoutjs=document.createElement('script'),firstjs=document.getElementsByTagName('script')[0];
        spoutjs.async=1;
        spoutjs.src='//cdn.spoutable.com/2458c3df-209b-4b58-b881-4bee94cd9574/spoutable.js';
        firstjs.parentNode.insertBefore(spoutjs,firstjs)
    })();
</script>

</body>
</html>
