{% extends 'AppAdminBundle::base.html.twig' %}

    {% block stylesheets %}

        {% stylesheets

        '@AppAdminBundle/Resources/public/css/article/edit/datatables.min.css'
        '@AppAdminBundle/Resources/public/css/article/edit/datatables.bootstrap.css'
        filter='cssrewrite, ?yui_css' output='compiled/css/ajout-article.css'

        %}

        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}


{% block page_wrapper %}

    {% block content %}

        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>LikeJacker
                        <small>Les Likejacker du site</small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->
                <!-- END PAGE TOOLBAR -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->

            <div class="blog-page blog-content-2">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{{ path('add_likejacker') }}">
                                <button id="sample_editable_1_new" class="btn sbold green"> Ajouter une url à LikeJacker
                                    <i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </div>
                    </div>

                </div>

                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                    <tr>

                        <th> Date de début </th>
                        <th> Date de fin </th>
                        <th> Article concerné </th>
                        <th> Pourcentage de like </th>
                        <th> Actions </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for lkj in likJakers %}
                        <tr>
                            <td> {{ lkj.dateStart|date('d/m/Y H:i') }} </td>
                            <td>
                                {{ lkj.dateStop|date('d/m/Y H:i') }}
                            </td>
                            <td>
                                {{ lkj.article.title }}
                            </td>
                            <td class="center"> {{ lkj.percentLike }} </td>

                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">

                                        <li>
                                            <a href="{{ path('edit_likejacker',{'likejacker':lkj.id}) }}">
                                                Editer
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



            <!-- END CONTENT BODY -->
        </div>
    {% endblock content %}
{% endblock page_wrapper %}

            {% block javascripts %}

                {% javascripts

                '@AppAdminBundle/Resources/public/js/articles/edit/datatables.min.js'
                '@AppAdminBundle/Resources/public/js/articles/edit/datatables.bootstrap.js'
                '@AppAdminBundle/Resources/public/js/articles/edit/table-datatables-managed.min.js'


                filter='?yui_js' output='compiled/js/article_edit.js' %}


                <script src="{{ asset_url }}"></script>

                {% endjavascripts %}


            {% endblock %}