
<!--<div class="container banner-728x90">
    <a href="goliath-post-1.html"><img alt="" src="{{ asset('assets/img/banner-728x90.png') }}"></a>
</div>-->

<!-- Footer -->
<footer class="container footer">

    <div class="widget about">
        <div class="title-default">
            <a href="#" class="active">A propos</a>
        </div>
        <div class="text">
            <p class="logo"><a href="{{ path('app_app_homepage') }}"><img alt="" src="{{ asset('assets/img/logo-goliath-1.png') }}"></a></p>
            My Funny Buzz est un site rassemblant tous les contenus attractif du web sur une même page. Nous selectionnerons pour vous tous les soirs les meilleurs contenus du web. </br>
            La publicité nous permet de faire vivre le site. Nous vous remercions donc de bloquer votre bloqueur durant le visionnage.
        </div>
    </div>



    <div class="widget page-map">
        <div class="title-default">
            <a href="#" class="active">My Funny Buzz sur Twitter</a>
        </div>
        <a class="twitter-timeline" data-width="300" data-height="200" data-theme="dark" href="https://twitter.com/MyFunnyBuzz1">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


    </div>

    <div class="widget page-map">
        <div class="title-default">
            <a href="#" class="active">My Funny Byzz sur Facebook</a>
        </div>
        <div class="fb-page" data-href="https://www.facebook.com/myfunnybuzz/" data-tabs="timeline" data-height="80" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/myfunnybuzz/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/myfunnybuzz/">Myfunnybuzz</a></blockquote></div>


    </div>


    </div>

</footer>

<!-- Copyright -->
<div class="container copyright">
    <div class="left">
       Envoyez un email à :   <a href="mailto:aureliendelorme1@gmail.com">My funny buzz</a>
    </div>
    <div class="right">
        <ul>

            <li>

                <a href="https://www.facebook.com/Goliath-Buzz-1477723395863870"><i class="fa fa-facebook-square"></i></a>

            </li>
        </ul>
    </div>
</div>

<a href="#" class="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>
