<div class="container trending">
    <div class="title-default">
        <a href="#" class="active">Actu :</a>
    </div>

    <div class="controls">
        <div>
            <a href="#" id="ticker-prev"><i class="fa fa-caret-up"></i></a>
            <a href="#" id="ticker-next"><i class="fa fa-caret-down"></i></a>
            <a href="#" class="pause"><i class="fa fa-pause"></i></a>
        </div>
    </div>
    <div class="items-wrapper">
        <ul id="newsticker" class="items newsticker cycle-slideshow"
            data-index="1"
            data-cycle-slides="> li"
            data-cycle-auto-height="calc"
            data-cycle-paused="false"
            data-cycle-speed="500"
            data-cycle-next="#ticker-next"
            data-cycle-prev="#ticker-prev"
            data-cycle-fx="scrollVert"
            data-cycle-log="false"
            data-cycle-pause-on-hover="true"
            data-cycle-timeout="2000">

            {% for article in trendingArticle %}
                <li class="item hot">
                    <a href="{{ path('app_app_article',{'slug':article.url}) }}">{{ article.title[:120] }} ...</a>
                    <span class="legend-default"><i class="fa fa-clock-o"></i>{{ article.date|date('d/m/Y') }}  <i class="fa fa-eye"></i>{{ article.stats.nbView }}</span>
                </li>
            {% endfor %}




        </ul>
    </div>

    <div class="social">
        <a href="https://www.facebook.com/myfunnybuzz/"><i class="fa fa-facebook-square"></i></a>
    </div>
</div>
<header class="container header">
    <div class="logo-image">
        <a href="{{ path('app_app_homepage') }}"><img alt="" src="{{ asset('assets/img/logo-goliath-1.png') }}"></a>
    </div>
  <div class="banner-728x90">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- bannierehautpetite -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-5368871968051857"
           data-ad-slot="3192756328"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
</header>
