<div class="navbar-wrapper menu-primary" data-spy="affix" data-offset-top="191">
    <div class="navbar navbar-default menu">
        <div class="container">
            <ul class="nav">
                {% if rte == 'app_app_homepage' %}
                <li class="active"><a href="{{ path('app_app_homepage') }}">Acceuil</a></li>
                {% else %}
                <li class=""><a href="{{ path('app_app_homepage') }}">Acceuil</a></li>
                {% endif %}

                <li><a href="{{ path('app_app_aleatoire') }}">Aléatoire</a></li>



            </ul>


        </div>


    </div>
</div>
