{% extends 'VideoFrontBundle::base.html.twig' %}

{% block content %}
    <!-- Start Review And Contribute Section -->
    <div class="review-and-contribute themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <div class="review-area">
                        <div class="themeix-section-h">
                            <span class="heading-icon"><i class="fa fa-html5" aria-hidden="true"></i></span>
                            <h3>Animal Plannet</h3>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/41.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/41.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny pranks try not to laugh
                                        challenge</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="view-btn">View Details</a>
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/42.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/42.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny videos 2016</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="view-btn">View Details</a>
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/43.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/43.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny videos 2016 funny pranks.</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="view-btn">View Details</a>
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/44.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/44.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny videos 2016 funny pranks try not
                                        to laugh</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="view-btn">View Details</a>
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Top Contribute -->
                <div class="col-md-offset-1 col-md-3 col-sm-4">
                    <div class="right-sidebar">


                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-format="autorelaxed"
                             data-ad-client="ca-pub-5368871968051857"
                             data-ad-slot="6738954329"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>

                    </div>
                    <!-- End Top Contribute -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Review And Contribute Section -->
    <!-- Start Big Banner Area -->
    <div class="big-banner-area themeix-ptb-2 bg-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="big-banner">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- bannierehautpetite -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:728px;height:90px"
                             data-ad-client="ca-pub-5368871968051857"
                             data-ad-slot="3192756328"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Big Banner Area -->


    <!-- Start Review And Contribute Section -->
    <div class="review-and-contribute themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <div class="review-area">
                        <div class="themeix-section-h">
                            <span class="heading-icon"><i class="fa fa-html5" aria-hidden="true"></i></span>
                            <h3>Animal Plannet</h3>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/41.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/41.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny pranks try not to laugh
                                        challenge</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/42.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/42.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny videos 2016</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/43.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/43.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny videos 2016 funny pranks.</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/44.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/44.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny videos 2016 funny pranks try not
                                        to laugh</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Top Contribute -->
                <div class="col-md-offset-1 col-md-3 col-sm-4">
                    <div class="right-sidebar">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-format="autorelaxed"
                             data-ad-client="ca-pub-5368871968051857"
                             data-ad-slot="6738954329"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>

                    </div>
                    <!-- End Top Contribute -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Review And Contribute Section -->
    <!-- Start Big Banner Area -->
    <div class="big-banner-area themeix-ptb-2 bg-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="big-banner">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- bannierehautpetite -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:728px;height:90px"
                             data-ad-client="ca-pub-5368871968051857"
                             data-ad-slot="3192756328"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Big Banner Area -->



    <!-- Start Review And Contribute Section -->
    <div class="review-and-contribute themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <div class="review-area">
                        <div class="themeix-section-h">
                            <span class="heading-icon"><i class="fa fa-html5" aria-hidden="true"></i></span>
                            <h3>Animal Plannet</h3>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/41.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/41.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny pranks try not to laugh
                                        challenge</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/42.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/42.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny videos 2016</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="view-btn">View Details</a>
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/43.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/43.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny videos 2016 funny pranks.</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="view-btn">View Details</a>
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-review">
                            <div class="review-img">
                                <a href="single-video.html">
                                    <img class="lazy" data-src="{{ asset('bundles/videofront/images/thumbnails/44.jpg') }}" alt="Video"/>
                                    <noscript>
                                        <img src="{{ asset('bundles/videofront/images/thumbnails/44.jpg') }}" alt="video"/>
                                    </noscript>
                                </a>
                                <span class="video-duration">5.28</span>
                            </div>
                            <div class="review-content">
                                <h4><a href="single-video.html" class="video-title">Funny videos 2016 funny pranks try not
                                        to laugh</a></h4>
                                <div class="video-counter-plan">
                                    <div class="video-viewers">
                                        <span class="fa fa-eye view-icon"></span>
                                        <span>241,021</span>
                                    </div>
                                    <div class="video-feedback">
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-up like-icon"></span>
                                            <span>2140</span>
                                        </div>
                                        <div class="video-like-counter">
                                            <span class="fa fa-thumbs-o-down dislike-icon"></span>
                                            <span>2140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviwe-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                </div>
                                <div class="review-btn">
                                    <a href="#" class="view-btn">View Details</a>
                                    <a href="#" class="watch-btn">Watch Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Top Contribute -->
                <div class="col-md-offset-1 col-md-3 col-sm-4">
                    <div class="right-sidebar">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-format="autorelaxed"
                             data-ad-client="ca-pub-5368871968051857"
                             data-ad-slot="6738954329"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                    <!-- End Top Contribute -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Review And Contribute Section -->
    <!-- Start Big Banner Area -->
    <div class="big-banner-area themeix-ptb-2 bg-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="big-banner">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- bannierehautpetite -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:728px;height:90px"
                             data-ad-client="ca-pub-5368871968051857"
                             data-ad-slot="3192756328"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Big Banner Area -->

{% endblock content %}