{% extends '::base.html.twig' %}

{% block content %}

<div class="container homepage-content">
    <div class="main-content-column-1 full-width">
        <div class="post-1 post-41 post type-post status-publish format-standard has-post-thumbnail hentry category-review category-travel tag-enjoy tag-experience tag-hiking tag-surfing">
            <div class="post text-center" style="margin-top: 100px;margin-bottom: 100px">

                <i class="fa fa-exclamation-triangle"></i> Page not found! Something has gone wrong. Sorry about that!            </div>
        </div>

    </div>
</div>
{% endblock content %}



