{% extends 'AppAdminBundle::base.html.twig' %}
{% block page_wrapper %}

    {% block stylesheets %}

        {% stylesheets

        '@AppAdminBundle/Resources/public/css/article/ajout/blog.min.css'
        '@AppAdminBundle/Resources/public/css/article/ajout/image-picker.css'
        '@AppAdminBundle/Resources/public/css/article/ajout/style.css'

        filter='cssrewrite, ?yui_css' output='compiled/css/ajout-article.css'

        %}

        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block content %}

        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Articles
                        <small>Ajouter un article</small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->

                <!-- END PAGE TOOLBAR -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->

            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="blog-page blog-content-2">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-11" style="background-color: white">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXTRAS PORTLET-->


                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group last">
                                            <label class="control-label col-md-3">{{ form.url.vars.label }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.url) }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>


                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                        <div class="form-body">
                                            <div class="form-group last">
                                                <label class="control-label col-md-3">{{ form.title.vars.label }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.title) }}
                                                </div>
                                            </div>
                                        </div>

                                    <!-- END FORM-->
                                </div>


                                <div class="portlet-body form" style="margin-bottom: 10px">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group last">
                                            <label class="control-label col-md-3">{{ form.description.vars.label }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.description) }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>

                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group last">
                                            <label class="control-label col-md-3">{{ form.imageCover.vars.label }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.imageCover) }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>



                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group last">
                                            <label class="control-label col-md-3">{{ form.imageEditor.vars.label }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.imageEditor) }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>

                                <div class="portlet-body form" >
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group last">
                                            <label class="control-label col-md-3">Paginer</label>
                                            <div class="col-md-9">
                                               <input id="paginateButton" type="button" class="btn btn-success" value="Paginer" style="margin-bottom: 40px">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>

                                    <div class="portlet-body form">
                                        <!-- BEGIN FORM-->

                                            <div class="form-body">
                                                <div class="form-group last">
                                                    <label class="control-label col-md-3">{{ form.content.vars.label }}</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(form.content) }}
                                                    </div>
                                                </div>
                                            </div>

                                        <!-- END FORM-->
                                    </div>








                                <!-- END EXTRAS PORTLET-->
                            </div>



                        </div>

                        <input type="submit" class="btn btn-success submitter col-md-12 separator">


                    </div>


                </div>
            </div>
                {{ form_end(form) }}
            <!-- END PAGE BASE CONTENT -->
        </div>

            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->



    {% endblock content %}
{% endblock page_wrapper %}

            {% block javascripts %}

    {% javascripts
            '@AppAdminBundle/Resources/public/js/form/json2xml.js'
            '@AppAdminBundle/Resources/public/js/form/modal.class.js'
            '@AppAdminBundle/Resources/public/js/form/validator.js'
            '@AppAdminBundle/Resources/public/js/form/form_handler.js'
            '@AppAdminBundle/Resources/public/js/articles/*'
            '@AppAdminBundle/Resources/public/js/select_image_picker.init.js'



            filter='?yui_js' output='compiled/js/article_ajout.js' %}


    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}


{% endblock %}