{% extends 'AppAdminBundle::base.html.twig' %}

    {% block stylesheets %}

        {% stylesheets

        '@AppAdminBundle/Resources/public/css/article/edit/datatables.min.css'
        '@AppAdminBundle/Resources/public/css/article/edit/datatables.bootstrap.css'

        filter='cssrewrite, ?yui_css' output='compiled/css/ajout-article.css'

        %}

        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}


{% block page_wrapper %}

    {% block content %}

        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Articles
                        <small>Tous les articles en base de donnée </small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->
                <!-- END PAGE TOOLBAR -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->

   <div class="blog-page blog-content-2">
       <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
           <thead>
           <tr>

               <th> Titre </th>
               <th> Url </th>
               <th> Date de création </th>
               <th> Date de publication </th>
               <th> Photo de couverture </th>
               <th> Actions </th>
           </tr>
           </thead>
           <tbody>
           {% for art in articles %}
           <tr class="odd gradeX">

               <td> {{ art.title }} </td>
               <td>
                   /{{ art.url }}
               </td>
               <td>
                   {{ art.date|date('d-m-Y H:i') }}
               </td>
               <td class="center"> TODO </td>
               <td>
                   <img src="{{ urlS3 }}/180x180/{{ art.imageCover.url }}">
               </td>
               <td>
                   <div class="btn-group">
                       <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                           <i class="fa fa-angle-down"></i>
                       </button>
                       <ul class="dropdown-menu pull-left" role="menu">
                           <li>
                               <a href="{{ path('delete_selected_article',{'id':art.id}) }}">
                                   <i class="icon-docs"></i> Supprimer </a>
                           </li>
                           <li class="divider"> </li>
                           <li>
                               <a href="{{ path('edit_selected_article',{'id':art.id}) }}">
                                   <i class="icon-tag"></i> Editer </a>
                           </li>

                           <li>
                               <a target="_blank" href="{{ path('app_app_article',{'slug':art.url}) }}">
                                   <i class="icon-tag"></i> Voir </a>
                           </li>
                       </ul>
                   </div>
               </td>
           </tr>
           {% endfor %}

           </tbody>
       </table>
        </div>



        <!-- END CONTENT BODY -->
        </div>
    {% endblock content %}
{% endblock page_wrapper %}

            {% block javascripts %}

                {% javascripts

                '@AppAdminBundle/Resources/public/js/articles/edit/datatables.min.js'
                '@AppAdminBundle/Resources/public/js/articles/edit/datatables.bootstrap.js'
                '@AppAdminBundle/Resources/public/js/articles/edit/table-datatables-managed.min.js'


                filter='?yui_js' output='compiled/js/article_edit.js' %}


                <script src="{{ asset_url }}"></script>

                {% endjavascripts %}


            {% endblock %}