{% extends 'AppAdminBundle::base.html.twig' %}
{% block page_wrapper %}

    {% block content %}

        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>TODO
                        <small>Statistiques relatives aux articles ... </small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->
                <!-- END PAGE TOOLBAR -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB --




        </div>
        <!-- END CONTENT BODY -->
        </div>
    {% endblock content %}
{% endblock page_wrapper %}