<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Metronic Admin RTL Theme #6 | User Login 4</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin RTL Theme #6 for " name="description" />
        <meta content="" name="author" />

        {% stylesheets
        'bundles/appuser/css/*' filter='cssrewrite'
        '@AppUserBundle/Resources/public/css/*'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    </head>



        <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="#">
                <img src="{{ asset('bundles/appuser/images/logo-big.png') }}" alt="" /> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->

            {% block fos_user_content %}


            {% endblock fos_user_content %}


        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>

        </div>


        {% javascripts

        '@AppUserBundle/Resources/public/js/jquery.min.js'
        '@AppUserBundle/Resources/public/js/*'


        filter='?yui_js' output='compiled/js/base_script_user.js' %}


        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </body>
</html>
