<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>eTube - HTML5 Video Blog Site Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="//content.jwplatform.com/libraries/S2xWVQ9r.js"></script>

    {% stylesheets

    'assets/css/bootstrap.css'
    '@VideoFrontBundle/Resources/public/css/*'


    filter='cssrewrite, ?yui_css' output='compiled/css/video_base.css' %}

    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheets %}
    {% endblock stylesheets %}

</head>

<body id=test>
<!-- Start Header -->
<header>
    <div class="header-top hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-top-area">

                        <div id="upload-options" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Upload Your Video</h3>
                                        <button class="btn btn-sm btn-default close-btn"
                                                data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" method="post" class="upload-form"
                                              enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="video_title">Video Title</label>
                                                <input type="text" class="form-control" id="video_title"
                                                       placeholder="Video Title">
                                            </div>
                                            <div class="form-group">
                                                <label for="video-desc">Video Description</label>
                                                <textarea name="video-desc" id="video-desc" class="form-control"
                                                          placeholder="Video Description"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="upload_file" class="custom-file-upload">Select Your File
                                                    <input type="file" name="upload_file" id="upload_file">
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-lg">Upload</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="login-info" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Login Here..</h3>
                                        <button data-dismiss="modal"
                                                class="btn btn-sm btn-default close-btn">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" method="post" class="login-form">
                                            <div class="form-group">
                                                <label for="user_name">Username :</label>
                                                <input type="text" name="user_name" class="form-control" id="user_name"
                                                       placeholder="username">
                                            </div>
                                            <div class="form-group">
                                                <label for="user_password">Password :</label>
                                                <input type="password" name="user_password" class="form-control"
                                                       id="user_password" placeholder="password">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation area starts -->
    <div class="main-menu">
        <!-- Start Navigation -->
        <nav class="header-section pin-style">
            <div class="container">
                <div class="mod-menu">
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="index.html " title="logo" class="logo"><img
                                        src="{{ asset('bundles/videofront/images/logo.png') }}" alt="logo"></a>
                        </div>
                        <div class="col-sm-9 nopadding">
                            <div class="main-nav rightnav">
                                <ul class="nav navbar-nav top-nav">
                                    <li class="visible-xs menu-icon">
                                        <a href="#" class="navbar-toggle collapsed" data-toggle="collapse"
                                           data-target="#menu" aria-expanded="false"><i class="fa fa-bars"></i></a>
                                    </li>
                                </ul>
                                <div id="menu" class="collapse header-menu">
                                    <ul class="nav navbar-nav">
                                        <li><a href="{{ path('video_front_homepage') }}">Home</a><span class="arrow"></span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navigation -->
    </div>
    <!-- Navigation area ends -->
</header>
<!-- End Header -->

<div class="big-banner-area themeix-ptb-2 bg-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="big-banner">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- responsive ban -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5368871968051857"
                         data-ad-slot="4111086325"
                         data-ad-format="link"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>


{% block content %}

{% endblock content %}


<!-- Start Footer Area -->
<footer>
    <div class="footer-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="footer-wrapper">
                    <div class="col-sm-6 col-md-4">
                        <div class="single-footer">
                            <div class="footer-heading-wrap">
                                <span class="heading-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                                <h3 class="footer-heading">About Us</h3>
                            </div>
                            <div class="single-footer-text">
                                <p>eTube est un site rassemblant tous les contenus attractif du web sur une même page. Nous selectionnerons pour vous tous les soirs les meilleurs contenus du web.
                                    La publicité nous permet de faire vivre le site. Nous vous remercions donc de bloquer votre bloqueur durant le visionnage.</p>
                            </div>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="fb-link"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="gp-link"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-footer">
                            <div class="footer-heading-wrap">
                                <span class="heading-icon"><i class="fa fa fa-link" aria-hidden="true"></i></span>
                                <h3 class="footer-heading">Sites partenaires</h3>
                            </div>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="http://myfunnybuzz.com">My Funny Buzz</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-footer">
                            <div class="footer-heading-wrap">
                                <span class="heading-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                                <h3 class="footer-heading">contact us</h3>
                            </div>
                            <p>4100 S Choctaw Rd, Choctaw, OK, 73020</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Bottom Area -->
    <div class="footer-bottom-area pb-80">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-bottom">
                        <div class="footer-logo">
                            <a href="#"><img src="{{ asset('bundles/videofront/images/logo.png') }}" alt="logo"></a>
                        </div>
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Disclaimer</a></li>
                            </ul>
                        </div>
                        <div class="copyright-text">
                            <p>All content Etube &copy; 2017 - All rights reserved. - Proudly made with <a href="#">Themeix</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom Area -->
    <div class="scroll-top">
        <div class="scroll-icon">
            <i class="fa fa-angle-up"></i>
        </div>
    </div>
</footer>
<!-- End Footer Area -->


<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '621978904541692',
            xfbml      : true,
            version    : 'v2.9'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>




{% javascripts
'bundles/fosjsrouting/js/router.js'
'assets/js/jquery-1.11.1.js'
'assets/js/bootstrap.js'
'@VideoFrontBundle/Resources/public/js/*'
output='compiled/js/video_base.js'
%}

<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% block script %}
{% endblock %}