{% extends 'VideoFrontBundle::base.html.twig' %}

{% block content %}
    <div class="page-content-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- Start Video Post -->
                    <div class="video-post-wrapper">
                        <div class="video-posts-video">
                            <div class="embed-responsive embed-responsive-16by9">
                                <div id="container"></div>
                                <script>
                                    jwplayer("container").setup({
                                        "file": "https://youtu.be/kgFuqgnNZeY",
                                        "height": 500,
                                        "width": 750,
                                        "autostart": true
                                    });
                                </script>
                            </div>
                            <h3 class="post-title">Lana Del Rey - Lust For Life (Official Audio) ft. The Weeknd</h3>

                            <div id="share-bar">
                                <a class="button-sharing button-fb diblock vatop center" href="">
                                    <i class="icon-fb diblock mr10"></i>
                                    <span id="facebookSharer" class="bolder">Partager sur Facebook</span>
                                </a>
                            </div>


                        </div>
                        <div class="video-posts-data">
                            <div class="video-post-title">
                                <span class="video-icons"><i class="fa fa-info-circle"></i></span>
                                <div class="video-post-info">
                                    <h4><a href="#">Themeix Media</a></h4>
                                    <div class="video-post-date">
                                        <span><i class="fa fa-calendar"></i></span>
                                        <p>april 15, 2017</p>
                                        <span class="video-posts-author">
                                           <i class="fa fa-folder-o"></i>
                                           <a href="#">Animals Videos</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="video-post-counter">
                                <div class="video-post-viewers">
                                    <h3>241,050 views</h3>
                                </div>
                                <div class="video-like">
                                    <span><i class="fa fa-thumbs-o-up"></i></span>
                                    <p>421825</p>
                                </div>
                                <div class="video-dislike">
                                    <span><i class="fa fa-thumbs-o-down"></i></span>
                                    <p>9694</p>
                                </div>
                            </div>
                        </div>
                        <div class="video-post-text">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                            <p>There are many of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even . If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                        </div>
                        <!-- Start Tags And Share Options -->
                        <div class="tags-and-share video-share">
                            <div class="share-options">
                                <h4>Share On</h4>
                                <ul class="social-share">
                                    <li class="twitter-bg"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="facebook-bg"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="google-bg"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Tags And Share Options -->
                        <!-- Start Posts Pagination -->
                        <div class="posts-pagination">
                            <div class="row">
                                <div class="posts-prev">
                                    <div class="col-xs-6 col-sm-5">
                                        <a href="#" class="prev-btn">Previous Video</a>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                                    </div>
                                </div>
                                <div class="posts-next">
                                    <div class="col-xs-6 col-sm-offset-2  col-sm-5">
                                        <a href="#" class="next-btn">Next Video</a>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-5368871968051857"
                                     data-ad-slot="3443971521"
                                     data-ad-format="link"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>



                        </div>
                        <!-- End Posts Pagination -->

                    </div>
                    <!-- End Video Post -->
                </div>
                <!-- Start Sidebar -->
                <div class="col-md-offset-1 col-md-3">
                    <!-- Start Popular Videos -->
                    <div class="popular-videos">

                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-5368871968051857"
                             data-ad-slot="3443971521"
                             data-ad-format="link"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>

                        <!-- Start Sidebar Adds -->
                        <div class="sidebar-adds">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- carre 300x250 -->
                            <ins class="adsbygoogle"
                                 style="display:inline-block;width:300px;height:250px"
                                 data-ad-client="ca-pub-5368871968051857"
                                 data-ad-slot="5867021122"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                        <!-- End Sidebar Adds -->
                    </div>

                </div>
                <!-- End Sidebar -->
            </div>
        </div>
    </div>
{% endblock content %}
