<div class="page-sidebar navbar-collapse collapse">
    {% set rte = request.get('_route') %}

    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

        <li class="nav-item start {% if rte == "app_admin_homepage" %}active open {% endif %}">
            <a href="{{ path('app_admin_homepage') }}" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
                <span class="arrow"></span>
            </a>
        </li>

        <li class="heading">
            <h3 class="uppercase">Mediatheque</h3>
        </li>

        <li class="nav-item {% if rte == 'ajout_image' %}active open {% endif %} ">
            <a href="{{ path('ajout_image') }}" class="nav-link nav-toggle">
                <i class="icon-user"></i>
                <span class="title">Images</span>
                <span class="arrow"></span>
            </a>
        </li>

        <li class="heading">
            <h3 class="uppercase">Articles</h3>
        </li>

        <li class="nav-item  {% if rte == 'ajout_article' %}active open {% endif %}">
            <a href="{{ path('ajout_article') }}" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title">Ajout</span>
                <span class="arrow"></span>
            </a>

        </li>
        <li class="nav-item  {% if rte == 'edit_article' %}active open {% endif %}">
            <a href="{{ path('edit_article') }}" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Edition</span>
                <span class="arrow"></span>
            </a>

        </li>





        <li class="heading">
            <h3 class="uppercase">Videos</h3>
        </li>

        <li class="nav-item  {% if rte == 'ajout_article' %}active open {% endif %}">
            <a href="{{ path('ajout_video') }}" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title">Ajout</span>
                <span class="arrow"></span>
            </a>

        </li>
        <li class="nav-item  {% if rte == 'edit_video' %}active open {% endif %}">
            <a href="{{ path('edit_article') }}" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Edition</span>
                <span class="arrow"></span>
            </a>

        </li>







        <li class="heading">
            <h3 class="uppercase">Utilisateurs</h3>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-layers"></i>
                <span class="title">Ajout</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-feed"></i>
                <span class="title">Suppression</span>
                <span class="arrow"></span>
            </a>
        </li>

        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class=" icon-wrench"></i>
                <span class="title">Mon compte</span>
                <span class="arrow"></span>
            </a>
        </li>

        <li class="heading">
            <h3 class="uppercase">Facebook</h3>
        </li>
        <li class="nav-item  {% if rte == 'facebook_account'
                                or rte == 'facebook_add_account' %}active open
                            {% endif %}">
            <a href="{{ path('facebook_account') }}" class="nav-link nav-toggle">
                <i class="icon-basket"></i>
                <span class="title">Comptes / Pages</span>
                <span class="arrow"></span>
            </a>
        </li>

        <li class="nav-item  {% if rte == 'publication_gestion' %}active open {% endif %}">
            <a href="{{ path('publication_gestion') }}" class="nav-link nav-toggle">
                <i class="icon-docs"></i>
                <span class="title">Publication</span>
                <span class="arrow"></span>
            </a>
        </li>

        <li class="nav-item {% if rte == 'likejacking_gestion' %}active open {% endif %}  ">
            <a href="{{ path('likejacking_gestion') }}" class="nav-link nav-toggle">
                <i class="icon-user"></i>
                <span class="title">LikeJacking</span>
                <span class="arrow"></span>
            </a>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>