.title-default > a:hover, .title-default > a.active, .title-default .view-all:hover:after, .trending .controls a:hover, .trending .controls a.active, .title-default > span.active { color:#20c300; }
.title-default > a.active { box-shadow:#20c300 0 -3px 0 inset; }
.title-default > span.active  { box-shadow:#20c300 0 -3px 0 inset; }
.back-to-top, .btn-default, .show-more-link:hover:after, .carousel-control { color:#20c300; }
.tag-default, .stars { background:#20c300; }
.trending .hotness { color:#20c300; }
footer .title-default > span.active  { color:#20c300; }
footer .title-default > span.active  { box-shadow:#20c300 0 -3px 0 inset; }
a:hover, .trending .social a:hover, .legend-default a:hover, .tag-default:hover, .more-link:hover:after, .reply-link:hover:after, .title-default .go-back:hover:after { color:#20c300; }
.post-1 .post .gallery-widget a:hover, .panel-default .panel-title a, .hotness { color:#20c300; }
.header .logo-text h2, .menu .nav li > a:hover, .menu .nav li > a:hover:after, .menu .nav .new-stories.new a, .navbar .dropdown.open > a, .navbar .dropdown.open > a:hover { color:#20c300; }
.navbar .dropdown.open .dropdown-toggle:after, .menu .dropdown-menu .items .item a:hover, .menu .dropdown-menu .sorting a:hover, .menu .dropdown-menu .post-block-1 .post-item h2 a:hover { color:#20c300; }
.mosaic a:hover, .slider-tabs .post-item-overlay h2 a:hover, .widget-tabs .post-item-overlay .title h2 a:hover, .post-block-1 .post-item-overlay h2 a:hover { color:#20c300; }
.post-block-2 .post-item-featured-overlay h2 a:hover, .post-block-2 .post-item-overlay .title h2 a:hover, .post-block-3 .post-item-overlay .title h2 a:hover, .blog-block-1 .post-item-overlay h2 a:hover, .blog-block-2 .post-item-overlay h2 a:hover { color:#20c300; }
.post-1 .post p a, .post-1 .post .gallery-widget a:hover, .post-1-navbar li a:hover:after, .post-1-navbar li.active a, .post-1-navbar li.active a:hover:after { color:#20c300; }
.post code, .post pre, .about-author .about .social a:hover, .sticky:after, .latest-galleries .gallery-item a:hover, .gallery-item-open .control a:hover, .footer a:hover, .copyright a:hover { color:#20c300; }
.more-link, .reply-link, .show-more-link, .carousel-control:hover, .carousel-control:active, .pagination .active a, .pagination span,  .comment-reply-link { color:#20c300!important; }
.button-1 { color:#20c300; }
.wpb_tabs .wpb_tabs_nav > li.ui-tabs-active > a,  .wpb_accordion .wpb_accordion_wrapper .ui-accordion-header-active a,  .wpb_toggle.wpb_toggle_title_active, .wpb_tour .wpb_tabs_nav li.ui-tabs-active a { color:#20c300; }
.menu .nav .dropdown-menu li.active > a:hover,  .header .logo-text h2 a, .pagination span, #reply-title a, .comment-reply-link:hover:after, .latest-galleries .carousel-control i, .wpcf7 input[type=submit] { color:#20c300; }
.back-to-top:hover, .tag-1.active, .tag-1.active:hover span, .carousel-control:hover, .read-progress span, .navbar-wrapper-responsive .bars.open > a, .post-1 .overview .items .rating .content span s { background:#20c300!important; }
.menu .nav > .active > a, .menu .nav > .active > a:hover, .menu .nav > .active:hover > a, .btn-default:hover, .menu .dropdown-menu .btn-default:hover, .button-1:hover, .button-1.color:hover, .button-1.white:hover { background:#20c300; }
.post q, blockquote, .post dl { border-left:3px solid #20c300; }
.post-block-1 .slider .thumbs .active, .post-block-1 .slider .thumbs a:hover, .gallery-item-open .thumbs .active, .gallery-item-open .thumbs a:hover { box-shadow:0 -3px 0 #20c300 inset; }
.menu .container { box-shadow:#20c300 0 3px 0; }
.dropdown-menu { box-shadow:rgba(0, 0, 0, 0.2) 0 3px 0 0, #000 0 -1px 0 inset, #20c300 0 3px 0 inset; }
.wpb_tabs .wpb_tabs_nav > li.ui-tabs-active > a { box-shadow:#20c300 0 -3px 0 inset; }
.tag-1.active  { border:1px solid #20c300 !important; }
.navbar-wrapper-responsive .menu .nav .search:after { color:#20c300 !important; }
.affix .navbar { box-shadow:#20c300 0 -3px 0 inset; }