.tag-1, .form-control { border:1px solid #cccccc; }
.tag-1 s, .form-control { border-left:1px solid #cccccc; }
.panel-default, .slider-tabs .items .item, .widget-tabs .items, .blog-block-1 .post-item, .blog-block-2 .post-item { border-bottom:1px solid #cccccc; }
.post-1 .overview, .post-1-navbar li a, .post table td, .post table tbody th, .photo-galleries .items, .post table thead th, .widget-content { border-bottom:1px solid #cccccc; }
.widget-tabs .post-item, .archives .table td, .post-block-1 .post-item, .post-block-2 .post-item, .post-1 .overview .items .row, .comments ul > li, .goliath_archive .items ul li { border-top:1px solid #cccccc; }
.post-1-navbar { border-top:3px solid #cccccc; }
@media only screen and (min-width: 768px) and (max-width: 1320px) {.post-1-navbar li a { border-right:1px solid #cccccc; }
}.read-progress, .search-results .gallery-widget:after, .post-1 .overview .items .rating .content span { background:#cccccc; }
.title-default { box-shadow:#cccccc 0 -3px 0 inset; }
.post-block-1 .slider .thumbs { box-shadow:0 -3px 0 #cccccc inset; }
.post-1-navbar { box-shadow:0 -1px 0 #cccccc inset; }
.copyright { box-shadow:#cccccc 0 -3px 0 inset; }
.gallery-item-open .thumbs { box-shadow:0 -3px 0 #cccccc inset; }
.form-control:focus { border:1px solid #d9d9d9; }
.pagination a, .pagination span, .back-to-top, .back-to-top:hover { border-bottom:1px solid #d9d9d9!important; }
.slider-tabs .items .item, .widget-tabs .items, .post-1 .overview .items, .widget-content { background:#ffffff; }
.carousel-control.left, .carousel-control.right { background:#ffffff; }
.button-1.white, .form-control, .post code, .post pre, .pagination a { background:#ffffff; }
.form-control { color:#252525; }
.title-default > a:hover, .title-default > a.active, .title-default .view-all:hover:after, .trending .controls a:hover, .trending .controls a.active, .title-default > span.active { color:#252525; }
.title-default > a.active { box-shadow:#252525 0 -3px 0 inset; }
.title-default > span.active  { box-shadow:#252525 0 -3px 0 inset; }
.back-to-top, .btn-default, .show-more-link:hover:after, .carousel-control { color:#252525; }
.tag-default, .stars { background:#252525; }
.trending .hotness { color:#252525; }
footer .title-default > span.active  { color:#cccccc; }
footer .title-default > span.active  { box-shadow:#cccccc 0 -3px 0 inset; }
a:hover, .trending .social a:hover, .legend-default a:hover, .tag-default:hover, .more-link:hover:after, .reply-link:hover:after, .title-default .go-back:hover:after { color:#cccccc; }
.post-1 .post .gallery-widget a:hover, .panel-default .panel-title a, .hotness { color:#cccccc; }
.header .logo-text h2, .menu .nav li > a:hover, .menu .nav li > a:hover:after, .menu .nav .new-stories.new a, .navbar .dropdown.open > a, .navbar .dropdown.open > a:hover { color:#cccccc; }
.navbar .dropdown.open .dropdown-toggle:after, .menu .dropdown-menu .items .item a:hover, .menu .dropdown-menu .sorting a:hover, .menu .dropdown-menu .post-block-1 .post-item h2 a:hover { color:#cccccc; }
.mosaic a:hover, .slider-tabs .post-item-overlay h2 a:hover, .widget-tabs .post-item-overlay .title h2 a:hover, .post-block-1 .post-item-overlay h2 a:hover { color:#cccccc; }
.post-block-2 .post-item-featured-overlay h2 a:hover, .post-block-2 .post-item-overlay .title h2 a:hover, .post-block-3 .post-item-overlay .title h2 a:hover, .blog-block-1 .post-item-overlay h2 a:hover, .blog-block-2 .post-item-overlay h2 a:hover { color:#cccccc; }
.post-1 .post p a, .post-1 .post .gallery-widget a:hover, .post-1-navbar li a:hover:after, .post-1-navbar li.active a, .post-1-navbar li.active a:hover:after { color:#cccccc; }
.post code, .post pre, .about-author .about .social a:hover, .sticky:after, .latest-galleries .gallery-item a:hover, .gallery-item-open .control a:hover, .footer a:hover, .copyright a:hover { color:#cccccc; }
.more-link, .reply-link, .show-more-link, .carousel-control:hover, .carousel-control:active, .pagination .active a, .pagination span,  .comment-reply-link { color:#cccccc!important; }
.button-1 { color:#cccccc; }
.wpb_tabs .wpb_tabs_nav > li.ui-tabs-active > a,  .wpb_accordion .wpb_accordion_wrapper .ui-accordion-header-active a,  .wpb_toggle.wpb_toggle_title_active, .wpb_tour .wpb_tabs_nav li.ui-tabs-active a { color:#cccccc; }
.menu .nav .dropdown-menu li.active > a:hover,  .header .logo-text h2 a, .pagination span, #reply-title a, .comment-reply-link:hover:after, .latest-galleries .carousel-control i, .wpcf7 input[type=submit] { color:#cccccc; }
.back-to-top:hover, .tag-1.active, .tag-1.active:hover span, .carousel-control:hover, .read-progress span, .navbar-wrapper-responsive .bars.open > a { background:#cccccc!important; }
.menu .nav > .active > a, .menu .nav > .active > a:hover, .menu .nav > .active:hover > a, .btn-default:hover, .menu .dropdown-menu .btn-default:hover, .button-1:hover, .button-1.color:hover, .button-1.white:hover { background:#cccccc; }
.post q, blockquote, .post dl { border-left:3px solid #cccccc; }
.post-block-1 .slider .thumbs .active, .post-block-1 .slider .thumbs a:hover, .gallery-item-open .thumbs .active, .gallery-item-open .thumbs a:hover { box-shadow:0 -3px 0 #cccccc inset; }
.menu .container { box-shadow:#cccccc 0 3px 0; }
.dropdown-menu { box-shadow:rgba(0, 0, 0, 0.2) 0 3px 0 0, #000 0 -1px 0 inset, #cccccc 0 3px 0 inset; }
.wpb_tabs .wpb_tabs_nav > li.ui-tabs-active > a { box-shadow:#cccccc 0 -3px 0 inset; }
.tag-1.active  { border:1px solid #cccccc !important; }
.navbar-wrapper-responsive .menu .nav .search:after { color:#cccccc !important; }
.affix .navbar { box-shadow:#cccccc 0 -3px 0 inset; }