{% extends 'AppAdminBundle::base.html.twig' %}
{% block page_wrapper %}

    {% block stylesheets %}

        {% stylesheets

        '@AppAdminBundle/Resources/public/css/article/edit/datatables.min.css'
        '@AppAdminBundle/Resources/public/css/article/edit/datatables.bootstrap.css'
        filter='cssrewrite, ?yui_css' output='compiled/css/ajout-account.css'

        %}

        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block content %}

        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Comptes
                        <small>Tous les comptes facebooks enregistrés</small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->
                <!-- END PAGE TOOLBAR -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->

            <div class="blog-page blog-content-2">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{{ path('facebook_add_account') }}">
                            <button id="sample_editable_1_new" class="btn sbold green"> Ajouter un compte
                                <i class="fa fa-plus"></i>
                            </button>
                            </a>
                        </div>
                    </div>

                </div>

                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                    <tr>

                        <th> Nom </th>
                        <th> Prénom </th>
                        <th> Email </th>
                        <th> Nombre de page </th>
                        <th> Password </th>
                        <th> Actions </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for acc in accounts %}
                        <tr class="odd gradeX">

                            <td> {{ acc.name }} </td>
                            <td>
                               {{ acc.surname }}
                            </td>
                            <td>
                                {{ acc.mail }}
                            </td>
                            <td class="center"> {{ acc.pages|length }} </td>
                            <td>
                                {{ acc.password }}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li>
                                            <a href="{{ path('edit_facebook_account',{'account':acc.id}) }}">
                                           Editer
                                                </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('delete_facebook_account',{'account':acc.id}) }}">
                                           Suprimer
                                           </a>
                                        </li>
                                        <li>
                                            Gestion des pages
                                        </li>

                                        <li>
                                            todo
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>





            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Pages
                        <small>Toutes les pages facebook enregistrées</small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->
                <!-- END PAGE TOOLBAR -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->

            <div class="blog-page blog-content-2">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="{{ path('facebook_add_page') }}">
                                <button id="sample_editable_1_new" class="btn sbold green"> Ajouter une page
                                    <i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </div>
                    </div>

                </div>

                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_2">
                    <thead>
                    <tr>

                        <th> Nom </th>
                        <th> Url </th>
                        <th> Compte </th>
                        <th> Domaine </th>
                        <th> Actions </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pgg in pages %}
                        <tr class="odd gradeX">

                            <td> {{ pgg.nom }} </td>
                            <td>
                                {{ pgg.url }}
                            </td>

                            <td> {{ pgg.account.mail }} </td>
                            <td>
                                {{ pgg.domaine }}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li>
                                            <a href="{{ path('edit_page_account',{'page':pgg.id}) }}">
                                                Editer
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('delete_page_account',{'page':pgg.id}) }}">
                                                Suprimer
                                            </a>
                                        </li>


                                        <li>
                                            todo
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>



            <!-- END CONTENT BODY -->
        </div>


    {% endblock content %}
{% endblock page_wrapper %}

            {% block javascripts %}

                {% javascripts


                '@AppAdminBundle/Resources/public/js/articles/edit/datatables.min.js'
                '@AppAdminBundle/Resources/public/js/articles/edit/datatables.bootstrap.js'
                '@AppAdminBundle/Resources/public/js/articles/edit/table-datatables-managed.min.js'


                filter='?yui_js' output='compiled/js/article_edit.js' %}


                <script src="{{ asset_url }}"></script>

                {% endjavascripts %}


            {% endblock %}