{% extends 'AppAdminBundle::base.html.twig' %}
{% block page_wrapper %}

    {% block stylesheets %}

        {% stylesheets

        '@AppAdminBundle/Resources/public/css/article/ajout/blog.min.css'
        '@AppAdminBundle/Resources/public/css/article/ajout/image-picker.css'
        '@AppAdminBundle/Resources/public/css/article/ajout/style.css'

        filter='cssrewrite, ?yui_css' output='compiled/css/ajout-article.css'

        %}

        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block content %}

        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Page Facebook
                        <small>Ajouter une page</small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->

                <!-- END PAGE TOOLBAR -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->

            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="blog-page blog-content-2">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-11" style="background-color: white">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXTRAS PORTLET-->


                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group last">
                                            <label class="control-label col-md-3">{{ form.nom.vars.label }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.nom) }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>

                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group last">
                                            <label class="control-label col-md-3">{{ form.domaine.vars.label }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.domaine) }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>

                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group last">
                                            <label class="control-label col-md-3">{{ form.url.vars.label }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.url) }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>

                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group last">
                                            <label class="control-label col-md-3">{{ form.idPage.vars.label }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.idPage) }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>

                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group last">
                                            <label class="control-label col-md-3">{{ form.account.vars.label }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.account) }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>




                                <!-- END EXTRAS PORTLET-->
                            </div>



                        </div>

                        <input type="submit" class="btn btn-success submitter col-md-12 separator">


                    </div>


                </div>
            </div>
            {{ form_end(form) }}
            <!-- END PAGE BASE CONTENT -->
        </div>

        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->



    {% endblock content %}
{% endblock page_wrapper %}

            {% block javascripts %}

                {% javascripts
                '@AppAdminBundle/Resources/public/js/form/json2xml.js'
                '@AppAdminBundle/Resources/public/js/form/modal.class.js'
                '@AppAdminBundle/Resources/public/js/form/validator.js'
                '@AppAdminBundle/Resources/public/js/form/form_handler.js'
                '@AppAdminBundle/Resources/public/js/facebook/add_form.js'



                filter='?yui_js' output='compiled/js/account_facebook_add.js' %}


                <script src="{{ asset_url }}"></script>

                {% endjavascripts %}


            {% endblock %}